body {
    background-color: #E6E6E6;
}
.wrapper-section {
    width: 55%;
    margin: 0 auto;
    border: 3px solid;
    box-shadow: 0 0 5px 2px #0F0E0E;
    margin-bottom: 30px;
    background-color: #FAFAFA;
}
.section {
    width: 86%;
    margin: 0 auto;
    height: 120px;
}
.section-header_img {
    text-align: center;
}
.section-header h1 {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    color: #0101DF;
    margin: 15px 0;
}
.section-header p {
    width: 85%;
    border-bottom: 3px solid #BDBDBD;
    padding-bottom: 3%;
    font-size: 18px;
    font-family: sans-serif;
    margin: 0 auto;
}
.section-info h3, .section-footer h3 {
    margin: 10px 2px;
    color: #01A9DB;
    font-size: 18px;
    font-family: sans-serif;
}
.section-footer p {
    width: 85%;
    font-size: 18px;
    font-family: sans-serif;
    border: none;
}
h3 {
    margin: 10px 2px;
    color: #01A9DB;
    font-size: 20px;
    font-family: sans-serif;
}
ol {
    list-style: inherit;
    width: 100%;
    border-bottom: 3px solid #BDBDBD;
    padding-bottom: 3%;
}
li {
    margin-left: 30px;
    margin-top: 10px;
}
p {
    width: 85%;
    border-bottom: 3px solid #BDBDBD;
    padding-bottom: 3%;
    font-size: 18px;
    font-family: sans-serif;
}
nav {
    margin-left: 10px;
    font-size: 16px;
    font-family: sans-serif;
}
.section-info a {
    font-size: 16px;
    margin-left: 25px;
    font-family: sans-serif;
}
.section-info {
    width: 85%;
    margin: 0 auto;
    height: 125px;
    border-bottom: 3px solid #BDBDBD;
}
.section-footer {
    width: 85%;
    margin: 0 auto;
    height: 85px;
}