* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #DCDCE6;
    font-family: san-serif;
    font-size: 14px;
}
.wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 10px;
}
.css_checkBox {
    width: 50%;
}
.checkBox-css input[type="checkbox"] {
    display:none;
}
.checkBox-css label:before {
    content: '';
    display:inline-block;
    width:19px;
    height:19px;
    background:url(../img/sprite.png) left top no-repeat;
    cursor: pointer;
    vertical-align: -3.5px;
}
.checkBox-css input[type="checkbox"]:checked + label:before {
    background:url(../img/sprite.png) -19px top no-repeat;
}
.checkBox-css input[type="checkbox"]:disabled + label {
    color: #525252;
}
.checkBox-css input[type="checkbox"]:disabled + label:before {
    background: #D1C7C7;
    border-radius: 3px;
    width:16px;
    height:16px;
    margin-right: 3px;
    box-shadow: inset 0px 0px 12px 3px rgba(0,0,0,0.75);
}
.custom-checkbox{
    width:19px;
    height:19px;
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3px;
    background: url("../img/sprite.png")left top no-repeat;
}
.custom-checkbox.selected{
    background: url("../img/sprite.png")-19px top  no-repeat;
}
.custom-checkbox.disabled{
    background: #D1C7C7;
    border-radius: 3px;
    width:16px;
    height:16px;
    margin-right: 3px;
    box-shadow: inset 0px 0px 12px 3px rgba(0,0,0,0.75);
}
.custom-checkbox input[type="checkbox"]{
    margin: 0;
    position: absolute;
    z-index: 2;            
    cursor: pointer;
    outline: none;
    opacity: 0;
}

nav {
    background: #4B4AAC;
    border-radius: 3px;
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(0,0,0,.3);
    width: 50%;
    margin: 0 auto;
}
nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
     z-index: 10;
    box-shadow: 0 0 6px 3px #68686B;
}
nav ul li {
    display:inline-block;
    position:relative;
}

nav li ul {    
    background-color:#4B4AAC;
    position:absolute;
    left:0;
    top:40px;
    width:200px;
}
nav li li {
    position:relative;
    margin:0;
    display:block;
}
nav li li ul {
    position:absolute;
    top:0;
    left:200px;
    margin:0;
}
nav a {
    line-height:40px;
    padding:0 12px;
    margin:0 12px;
}
nav a {
    color:#E8E8F0;
    text-decoration:none;
    display:block;
}
nav a:hover,
nav a:focus,
nav a:active {
    color:rgb(60, 58, 127);
}

/*----------------------------*/
nav li li a {
    color: #E8E8F0;
    margin:0 10px;
    padding:0;
}

/*---------------- dropdowns ---------------------*/

ul.sub-menu {
    display:none;
}