.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    width: 90%;
    top: 2em;
}


/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 280px;
}

.jcarousel ul {
    width: 200%;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
}

.jcarousel img {
    display: block;
    max-width: 220px;
    height: auto !important;
}


/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 0.5em;
    width: 30px;
    cursor: pointer;
    color: #0d5e92;
    font-size: 5em;
}

.jcarousel-control-prev {
    left: -5%;
}

.jcarousel-control-next {
    right: -5%;
}


/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;
    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;
    margin-right: 7px;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
}

@media (max-width: 1300px) {
    .jcarousel li {
        margin: 0 25px 0 18px;
    }
}

@media (max-width: 990px) {
    .jcarousel-wrapper {
        width: 91%;
    }
}

@media (max-width: 890px) {
    .jcarousel-wrapper {
        width: 80%;
    }
    .jcarousel li {
        margin: 0 28px 0 40px;
    }
}

@media (max-width: 720px) {
    .jcarousel-wrapper {
        width: 90%;
    }
    .jcarousel li {
        margin: 0 34px 0 34px;
    }
}

@media (max-width: 620px) {
    .jcarousel-wrapper {
        width: 80%;
    }
    .jcarousel li {
        margin: 0 100px 0 12px;
    }
}

@media (max-width: 460px) {
    .jcarousel-wrapper {
        width: 90%;
        top: 0em;
    }
}