* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Arial", sans-serif;
}
.header_wrapper_section {
    margin: 0 auto;
    width: 97%;
    height: 50%;
}
.header_wrapper {
    margin: 0 auto;
    width: 63%;
    height: 175px;
    background: linear-gradient(to top, rgba(253, 253, 253, 1), #f8f8f8, rgba(254, 254, 254, 1));
    background: -webkit-linear-gradient(top, rgba(253, 253, 253, 1), #f8f8f8, rgba(254, 254, 254, 1));
    
}
.header_logo {
    background-image: url(../img/header_logo.png);
    background-position: left top 6px;
    background-repeat: no-repeat;
    width: 21%;
    height: 100%;
    float: left;
}
.number {
    width: 32%;
    height: 60px;
    font-size: 22px;
    color: #333333;
    text-align: center;
    padding-top: 10px;
    font-style: italic;
    float: left;
}
span {
    font-size: 34px;
    text-decoration: none;
    color: #333333;
    font-weight: 800;
}
.number a {
    font-size: 13px;
    text-decoration: none;
    display: block;
    border-bottom: 1px dashed #000080;
    float: right;
}
form {
    width: 87%;
    height: 40px;
    padding-top: 17px;
}
.input {
    float: right;
    width: 100%;
    height: 26px;
    border-radius: 22px 0;
    padding-left: 12px;
    border: 2px solid #ebebeb;
}
.input_button {
    position: absolute;
    top: 4.7em;
    left: 45.7%;
    width: 5em;
    background-color: rgba(230, 230, 230, 0.5);
    border-radius: 22px 0;
    border: 0.5px solid #e6e6e6;
    height: 22px;
}
.fa-level-down {
     -moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
}
input:focus {
    outline: none;
}
/*==========================*/
.help {
    float: left;
}
.help_button {
    width: 88px;
    height: 90px;
    background-image: url(../img/icon_men2.png);
    background-position: right 2px top 1px;
    background-position-x: 75px;
    background-position-y: 3px;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 1px solid #6cbe68;
    border-radius: 5px 5px;
    position: absolute;
    top: 0.6em;
    left: 54.4%;
}
button:focus {
    outline: none;
}
.help_button_img {
    background-image: url(../img/icon_men.png);
    background-repeat: no-repeat;
    -ms-background-position-y: 11px;
    height: 100%;
    position: relative;
    position: -ms-page;
    top: -7px;
}
.help_button a {
    width: 84px;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    position: relative;
    top: 60px;
    left: 0.2em;
    font-size: 13px;
    font-weight: 800;
    color: #333333;
    text-align: center;
}
/*==============================*/
.user { 
    float: right;
    height: 98px;
    text-align: right;
    width: 14em;
}
.user_img {
    background-image: url(../img/user_business.png);
    background-position: left 11px top 7px;
    background-position-x: 10px;
    background-position-y: 10px;
    background-repeat: no-repeat;
    height: 41px;
    width: 14em;
    padding-top: 10px;
}
.user_href {
    color: #105a8f;
    text-decoration: none;
    border-bottom: 1px dashed #000080;
    font-size: 13px;
}
.user_href_text {
    color: #105a8f;
    text-decoration: none;
    border-bottom: 1px dashed #000080;
    font-size: 13px;
}
.user_button {
    width: 93%;
    height: 57px;
    cursor: pointer;
    border: 2px solid #cecdcd;
    border-radius: 5px 5px;
}
.user_button_img {
    background-image: url(../img/pocupki.png);
    background-position: left 12px center;
    background-repeat: no-repeat;
    height: 52px;
    padding-top: 7px;
}
.user_button_img a { 
    color: #105a8f;
    font-size: 25px;
    font-weight: 600;
    padding-left: 29px;
}
.user_button:after {
    content: "";
    border-left: 5px solid transparent;
    border-top: 12px solid #3a607b;
    border-right:  5px solid transparent;
    position: absolute;
    left: 79.3%;
    top: 4.8em;
}
/*============HEADER-MENU================*/
.header_menu {
    width: 100%;
    font-size: 13px;
    line-height: 40px;
    float: left;
}
ul.main_menu {
    height: 58px;
    width: 100%;
}
ul.main_menu li {
    float: left;
    list-style: none;
}
ul.main_menu li a {
    padding-right: 14px;
    color: #105a8f;
}
.header_menu_help_img {
    background-image: url(../img/help.png);
    background-repeat: no-repeat;
    width: 15px;
    position: relative;
    left: -0.3em;
    top: 1em;
    background-position: top center;
    height: 17px;
    float: left;
}
#menu-button {
    display: none;
}
/*============MENU==================*/
.dropdown-toggle, .dropdown-text {
    display: none;
}
.section_menu {
    height: 55px;
}
ul.menu {
    height: 58px;
    width: 61.4%;
    background: linear-gradient(to top, #045285, #12679f);
    background: -webkit-linear-gradient(top, #045285, #12679f);
    position: absolute;
    left: 19.2%;
    top: 9em;
    border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
}
ul.menu li {
    width: 16.6%;
    float: left;
    list-style: none;
    line-height: 20px;
    padding-top: 7px;
    height: 100%;
    padding-left: 3%;
}
ul.menu li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
.menu li {
    border-right: 2px solid #32729a;
}
.menu li:before{
    content:"";
    position: relative;
    top: 1.5em;
    border-left: 5px solid transparent;
    border-top: 10px solid #fff;
    border-right: 5px solid transparent;
    left: 8.5em;
}
/*==============SLIDER======================*/
.section {
    margin: 0 auto;
    width: 61%;
    height: 293px;
}
.wrapper_slider {
    background-image: url(../img/server.png);
    background-position: left top;
    background-repeat: no-repeat;
    width: 67%;
    float: left;
    height: 95%;
}
ol.slider_number {
    position: relative;
    top: 15em;
    left: 1%;
}
ol.slider_number li {
    width: 25px;
    height: 21px;
    float: left;
}
ol.slider_number li a {
    color: #fff;
    background: #689cbe;
    text-decoration: none;
    padding: 5px 5px 1px 5px;
    border-radius: 0 0 5px 5px;
    font-size: 14px;
    float: left;
}
ol.slider_number li a:hover {
    cursor: pointer;
    background: #ffffff;
    color: #d10000;
    border-bottom: 3px solid #689cbe;
    border-left: 3px solid #689cbe;
    border-right: 3px solid #689cbe;
}
.slider_text {
    position: relative;
    top: 1em;  
    left: -22em;
    float: right;
    width: 50%;
}
.section_title {
    width: 14em;
    height: 78px;
    line-height: 34px;
    font-size: 30px;
    color: #6640c7;
}
.section_title_text {
    width: 68%;
    height: 71px;
    line-height: 20px;
}
.section_title_button {
    width: 14.5em;
    height: 47px;
    font-size: 19px;
    border: 2px solid #696969;
    background: linear-gradient(to top left, #5e0477, #61057b, #600478, #3a92cb, #20c4d0);
    background: -webkit-linear-gradient(-45deg, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 16%, rgba(99,62,179,1) 45%, rgba(56,23,128,1) 76%, rgba(56,23,128,1) 100%); /* Chrome10+,Safari5.1+ */
    color: #fff;
}
/*=============================*/
.section_wrapper_text {
    height: 290px;
    width: 31%;
    font-size: 13px;
    float: right;
}
.section_wrapper_title {
    height: 44px;
    color: #d10000;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 600;
    padding-left: 12px;
}
.kasperski {
    height: 22%;
    padding-left: 23%;
    background-image: url(../img/kasperski.png);
    background-position: left 16px top -3px;
    background-repeat: no-repeat;
    line-height: 16px;
}
.FR {
    height: 23%;
    padding-left: 23%;
    background-image: url(../img/FR.png);
    background-position: left 13px top 5px;
    background-repeat: no-repeat;
    line-height: 21px;
}
.windows {
    height: 23%;
    padding-left: 23%;
    background-image: url(../img/windows.png);
    background-position: left 13px top 4px;
    background-repeat: no-repeat;
    line-height: 18px;
}
.kasperski_text a:hover, .FR_text a:hover, .windows_text a:hover {
    cursor: pointer;
    color: #6611cc;
}
.wrapper_section_button {
    width: 129px;
    height: 28px;
    cursor: pointer;
    border-radius: 18px 0;
    border: 2px solid #e4e4e4;
    color: #105a8f;
    font-size: 15px;
    text-align: left;
    padding-left: 6px;
    font-weight: 600;
}
.kasperski_text a, .FR_text a, .windows_text a,
.wrapper_section_button a {
    color: #105a8f;
}
/*=============SLIDER-TABS===========*/
.wrapper_section {
    margin: 0 auto;
    width: 61%;
    height: 423px;
}
.section_tabs {
    width: 100%;
    height: 300px;
}
ul.tabs {
    height: 47px;
    list-style: none;
    width: 100%;
    font-style: italic;
    line-height: 47px;
}
ul.tabs li {
    width: 15%;
    float: left;
    font-size: 18px;
    font-weight: 800;
    word-spacing: -2px;
    text-align: center;
    cursor: pointer;
}
ul.tabs li a {
    text-decoration: none;
    border-bottom: 1px dashed #000080; 
}
ul.tabs li a:focus  {
        color: #d10000; 
}
.tabs li.active, .tabs li.active:hover{
    background: linear-gradient(to top, rgba(250, 249, 249, 1), rgba(235, 235, 235, 1),#efefef);
    background: -webkit-linear-gradient(top, rgba(250, 249, 249, 1), rgba(235, 235, 235, 1),#efefef);
    background:  -ms-linear-gradient(top, rgba(250, 249, 249, 1), rgba(235, 235, 235, 1),#efefef);
    border-bottom: none;
    font-size: 20px;
    border-radius: 5px 5px 0  0;
    border-top: 1px solid #689cbe; 
    border-left: 1px solid #689cbe; 
    border-right: 1px solid #689cbe;
    width: 23%;
    text-align: center;
    color: #d10000;
    cursor: pointer;
}
div#tab1 {
    border: 1px solid #689cbe;
    width: 100%;
    font-size: 17px;
    height: 335px;
    border-radius: 0 5px 5px 5px;
}
/*===============================================*/
.tab_button {
    width: 17em;
    height: 1.8em;
    padding-left: 14px;
    position: absolute;
    left: 93em;
    top: 44em;
    border-radius: 30px 0;
    border: 1px solid #e4e4e4;
    text-align: left;
    cursor: pointer;
}
.tab_button a {
    color: #105a8f;
    font-size: 14px;
    font-weight: 600;
}
/*----------------ASUS-----------------------*/
.asus_img, .samsung_img, .vision_img, .msi_img  {
    position: relative;
    top: -7em;
}
.apple_img {
    position: relative;
    top: -8em;
}
.asus_gift {
    height: 100px;
    width: 60px;
    border: 1px solid #d10000;
    border-radius: 5px 5px;
    position: relative;
    top: -9em;
    left: 120px;
    background-color: #fff;
}
.asus_gift:after {
    content: "";
    border-left: 5px solid transparent;
    border-top: 10px solid #fff;
    border-right:  5px solid transparent;
    -moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
    left: -17%;
    top: 1.3em;
    float: left;
    position: absolute;
}
.asus_title {
    position: relative;
    font-size: 13px;
    line-height: 20px;
    width: 14em;
    top: -9em;
}
.title_text {
    color: #d10000;
}
.asuss_button {
    width: 9em;
    height: 26px;
    padding-left: 6px;
    background-image: url(../img/button.png);
    background-position: center right 18px;
    background-position-x: 90px;
    background-position-y: 3px;
    background-repeat: no-repeat;
    position: relative;
    top: 0.6em;
    left: -0.5em;
    border-radius: 32px 0;
    border: 1px solid #e4e4e4;
    font-size: 15px;
    text-align: left;
    font-style: italic;
}
.title_text_button {
    text-decoration: none;
    color: #333333;
    font-weight: 800;
}
.asus_summa_dolors {
    position: relative;
    top: 0.8em;
    left: 0.3em;
    font-size: 11px;
    color: #5c9559;
}
/*------------------SAMSUNG---------------------*/
.samsung_title {
    width: 13em;
    font-size: 13px;
    line-height: 20px;
    position: relative;
    top: -1em;
}
.sale {
    color: #999999;
    font-size: 15px;
    font-weight: 600;
    text-decoration: line-through;
    text-decoration-color: #d10000;
}
.samsung_button {
    width: 70%;
    height: 26px;
    padding-left: 6px;
    background-image: url(../img/button.png);
    background-position: center right 18px;
    background-position-x: 90px;
    background-position-y: 3px;
    background-repeat: no-repeat;
    position: relative;
    top: -0em;
    left: -0.8em;
    border-radius: 32px 0;
    border: 1px solid #e4e4e4;
    font-size: 15px;
    text-align: left;
    font-style: italic;
}
.summa_dolors {
    position: relative;
    top: 0.8em;
    left: 0.3em;
    font-size: 11px;
    color: #5c9559;
}
/*-----------------------VISION----------------------*/
.vision_title {
    width: 12em;
    font-size: 13px;
    line-height: 20px;
    position: relative;
    top: -1em;
}
.vision_button {
    width: 9em;
    height: 26px;
    padding-left: 6px;
    background-image: url(../img/button.png);
    background-position: center right 18px;
    background-position-x: 90px;
    background-position-y: 3px;
    background-repeat: no-repeat;
    position: relative;
    top: -0em;
    left: -0.8em;
    border-radius: 32px 0;
    border: 1px solid #e4e4e4;
    font-size: 15px;
    text-align: left;
    font-style: italic;
}
.summa_dolors {
    position: relative;
    top: -0.2em;
    left: 0.3em;
    font-size: 11px;
    color: #5c9559;
}
/*---------------APPLE------------------------------*/
.apple_title {
    width: 12em;
    font-size: 13px;
    line-height: 22px;
    position: relative;
    top: -4em;
}
.apple_button {
    width: 9.7em;
    height: 26px;
    padding-left: 6px;
    background-image: url(../img/button.png);
    background-position: center right 18px;
    background-position-x: 90px;
    background-position-y: 3px;
    background-repeat: no-repeat;
    position: relative;
    top: 0.3em;
    left: -0.8em;
    border-radius: 32px 0;
    border: 1px solid #e4e4e4;
    font-size: 15px;
    text-align: left;
    font-style: italic;
}
.apple_summa_dolors {
    position: relative;
    top: 0em;
    left: 0.3em;
    font-size: 11px;
    color: #5c9559;
}
/*---------------MSI-------------------*/
.msi_title {
    width: 12em;
    font-size: 13px;
    line-height: 22px;
    position: relative;
    top: -1em;
}
.msi_button {
    width: 9.7em;
    height: 26px;
    padding-left: 6px;
    background-image: url(../img/button.png);
    background-position: center right 18px;
    background-position-x: 90px;
    background-position-y: 3px;
    background-repeat: no-repeat;
    position: relative;
    top: 0.3em;
    left: -0.8em;
    border-radius: 32px 0;
    border: 1px solid #e4e4e4;
    font-size: 15px;
    text-align: left;
    font-style: italic;
}
.msi_summa_dolors {
    position: relative;
    top: 0em;
    left: 1em;
    font-size: 11px;
    color: #5c9559;
}
/*=============BREND=======================*/
.wrapper {
    width: 61%;
    margin: 0 auto;
    height: 364px;
    border-bottom: 1px solid #e6e6e6;
}
.wrapper_brend_button {
    width: 15em;
    height: 1.8em;
    padding-left: 14px;
    position: absolute;
    left: 93em;
    top: 70.7em;
    border-radius: 30px 0;
    border: 1px solid #e4e4e4;
    text-align: left;
}
.wrapper_brend_button a {
    color: #105a8f;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}
/*-------------------------*/
.brend_logo {
    padding-top: 1.5em;
    height: 178px;
}
.brend_atendt {
    height: 75px;
    width: 11.7%;
    background-image: url(../img/atendt.png);
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    border-right: 1px solid #e5e4e4;
    border-bottom: 1px solid #e5e4e4;
}
.brend_toshiba {
    height: 75px;
    width: 11.7%;
    background-image: url(../img/toshiba.png);
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    border-right: 1px solid #e5e4e4;
    border-bottom: 1px solid #e5e4e4;
}
.brend_apple_logo {
    height: 75px;
    width: 11.7%;
    background-image: url(../img/apple_logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    border-right: 1px solid #e5e4e4;
    border-bottom: 1px solid #e5e4e4;
}
.brend_microsoft {
    height: 75px;
    width: 11.7%;
    background-image: url(../img/microsoft.png);
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    border-right: 1px solid #e5e4e4;
    border-bottom: 1px solid #e5e4e4;
}
.brend_cisco {
    height: 75px;
    width: 11.7%;
    background-image: url(../img/cisco.png);
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    border-right: 1px solid #e5e4e4;
    border-bottom: 1px solid #e5e4e4;
}
.brend_panasonic {
    height: 75px;
    width: 11.7%;
    background-image: url(../img/panasonic.png);
    background-position: top 2em center;
    background-repeat: no-repeat;
    float: left;
    border-right: 1px solid #e5e4e4;
    border-bottom: 1px solid #e5e4e4;
}
.brend_nokia {
    height: 75px;
    width: 11.7%;
    background-image: url(../img/nokia.png);
    background-position: top 2.5em center;
    background-repeat: no-repeat;
    float: left;
    border-right: 1px solid #e5e4e4;
    border-bottom: 1px solid #e5e4e4;
}
.brend_samsung_logo {
    height: 75px;
    width: 11.7%;
    background-image: url(../img/samsung_logo.png);
    background-position: top 2em center;
    background-repeat: no-repeat;
    float: left;
    border-bottom: 1px solid #e5e4e4;
}
.brend_ibm {
    height: 75px;
    width: 11.7%;
    background-image: url(../img/ibm.png);
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    border-right: 1px solid #e5e4e4;
}
.brend_dell {
    height: 75px;
    width: 11.7%;
    background-image: url(../img/dell.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    border-right: 1px solid #e5e4e4;
}
.brend_intel {
    height: 75px;
    width: 11.7%;
    background-image: url(../img/intel.png);
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    border-right: 1px solid #e5e4e4;
}
.brend_amd {
    height: 75px;
    width: 11.7%;
    background-image: url(../img/amd.png);
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    border-right: 1px solid #e5e4e4;
}
.brend_lenovo {
    height: 75px;
    width: 11.7%;
    background-image: url(../img/lenovo.png);
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    border-right: 1px solid #e5e4e4;
}
.brend_asus_logo {
    height: 75px;
    width: 11.7%;
    background-image: url(../img/asus_logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    border-right: 1px solid #e5e4e4;
}
.brend_nec {
    height: 75px;
    width: 11.7%;
    background-image: url(../img/nec.png);
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    border-right: 1px solid #e5e4e4;
}
.brend_kasper {
    height: 75px;
    width: 11.7%;
    background-image: url(../img/kasper.png);
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
}
/*--------------------------------------*/
.brend_link {
    width: 100%;
    font-size: 11px;
    -webkit-columns: 8 10px;
    -moz-columns: 8 10px;
    columns: 8 10px;
}
.brend_link_colum a {
    display: block;
    height: 20px;
    padding-left: 10px;
    color: #105a8f;
}
.brend_link_colum a:hover {
    color: #d10000;
}
/*=================FOOTER==========================*/
footer a {
    color: #105a8f;
}
footer a:hover {
    color: #6611cc;
}
.footer_wapper {
    margin: 0 auto;
    width: 61%;
    height: 464px;
    border-bottom: 4px solid #175b8e;
    background: linear-gradient(to top, rgba(251, 251, 251, 1), rgba(255, 255, 255, 1)); 
}
.footer_wapper_title {
    font-size: 20px;
    color: #333333;
    padding-top: 1.6em;
    font-weight: 800;
    letter-spacing: -1px;
}
.footer_wapper_button {
    width: 18em;
    height: 2em;
    padding-left: 14px;
    position: absolute;
    left: 93em;
    top: 100.6em;
    border-radius: 30px 0;
    border: 1px solid #e4e4e4;
    text-align: left;
}
.footer_wapper_button a{
    color: #105a8f;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}
.fa-long-arrow-right {
    font-size: 20px;
    padding-left: 5px;
    color: #105a8f;
}
/*--------------SMART-----------------------*/
.footer_articles_smart {
    width: 12%;
    height: 10em;
    position: absolute;
    top: 85em;
    left: 23.3em;
    background-image: url(../img/smart.png);
    background-position: left center;
    background-repeat: no-repeat;
}
.footer_text_smart {
    position: relative;
    top: 10.5em;
    left: 0;
    font-size: 15px;
    line-height: 22px;
}
.footer_articles_text {
    line-height: 20px;
    font-size: 13px;
    padding-top: 0.5em;
}
/*---------------PRINTER------------------------*/
.footer_articles_print {
    width: 12%;
    height: 10em;
    position: absolute;
    top: 85.7em;
    left: 41.3em;
    background-image: url(../img/print.png);
    background-position: left center;
    background-repeat: no-repeat;
}
.footer_text_print {
    position: relative;
    top: 9.7em;
    left: 0.3em;
    font-size: 15px;
    line-height: 21px;
}
/*---------------NOTEBOOK------------------------*/
.footer_articles_notebook {
    width: 12%;
    height: 10em;
    position: absolute;
    top: 85.3em;
    left: 60.2em;
    background-image: url(../img/notebook.png);
    background-position: left center;
    background-repeat: no-repeat;
}
.footer_text_notebook {
    position: relative;
    top: 10.2em;
    left: 0em;
    font-size: 15px;
    line-height: 21px;
}
/*---------------HDD------------------------*/
.footer_articles_hdd {
    width: 13%;
    height: 10em;
    position: absolute;
    top: 85.3em;
    left: 78.2em;
    background-image: url(../img/hdd.png);
    background-position: left center;
    background-repeat: no-repeat;
}
.footer_text_hdd {
    position: relative;
    top: 10.2em;
    left: 0em;
    font-size: 15px;
    line-height: 21px;
}
/*===========================================*/
.footer_section {
    margin: 0 auto;
    width: 61%;
    height: 423px;
    padding-top: 20px;
}
.footer_menu {
    width: 100%;
    font-size: 13px;
    line-height: 40px;
    display: flex;
}
ul.footer_main_menu {
    height: 58px;
    width: 100%;
}
ul.footer_main_menu li {
    float: left;
    list-style: none;
}
ul.footer_main_menu li a {
    padding-right: 14px;
    color: #105a8f;
}
.footer_menu_help_img {
    background-image: url(../img/help.png);
    background-repeat: no-repeat;
    width: 15px;
    position: relative;
    left: -0.3em;
    top: 1em;
    background-position: top center;
    height: 17px;
    float: left;
}
/*---------------------------------------*/ 
.footer_address {
    font-size: 12px;
    word-spacing: 3px;
}
.footer_number {
    font-size: 22px;
    line-height: 16px;
    height: 59px;
    width: 170px;
}
.footer_number a {
    line-height: 34px;
    font-size: 13px;
    text-decoration: none;
    border-bottom: 1px dashed #000080;
    color: #105a8f;
}
.footer_button {
    width: 13em;
    height: 2em;
    padding-left: 10px;
    border-radius: 30px 0;
    border: 1px solid #e4e4e4;
    text-align: left;
    cursor: pointer;
}
.footer_button a {
    color: #105a8f;
    cursor: pointer;
    font-size: 11px;
    border-bottom: 1px dashed #000080
}
.communication_colum1_text {
    width: 160px; 
    font-size: 11px;
    border-bottom: 1px solid; 
    padding-top: 25px;
}
.footer_warpper_communication {
    width: 72%;
    line-height: 25px;
    padding-top: 13px;
    float: left;
}
.communication_colum1 {
    float: left;
    width: 30%;
}
.communication_colum2 {
    float: left;
    width: 40%;
}
.footer_mode {
    line-height: 23px;
    font-size: 13px;
    padding-left: 9px;
}
.footer_payment {
    width: 18em;
    height: 4.5em;
    background-image: url(../img/visa_master.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    line-height: 43px;
    font-size: 13px;
    padding-left: 9px;
}
.fa-facebook-official, .fa-vk, .fa-twitter-square {
    font-size: 33px;
    line-height: 28px;
    color: #3c5fad;
}
.facebook, .vKontakte, .Twitter {
    font-size: 13px;
    display: block;
    float: right;
    padding-left: 12px;
}
.footer_logo {
    background-image: url(../img/owox.png);
    background-repeat: no-repeat;
    height: 10em;
    width: 20%;
    float: left;
    background-position: left 45% top 1em;
    border-left: 1px solid #dddcdc;
    padding-top: 25px;
}
.footer_logo_text {
    font-size: 12px;
    width: 18em;
    line-height: 15px;
    color: #4e4e4e;
    float: right;
    padding-top: 17%;
}
acronym {
    color: #999999;
}
@media (max-width: 1300px) {
    .header_wrapper_section {
        margin: 0 auto;
        width: 100%;
        height: 50%;
    }
    .header_wrapper {
        width: 90%;
    }
/*=============================================*/
    #menu-button {
        display: none;
    }
/*=============================================*/
    .number {
        width: 36%;
    }
    form {
        width: 94%;
    }
    .input {
        width: 90%;
    }
    .input_button {
        left: 49%;
    }
    .help_button {
       left: 60%;
    }
/*==============================*/
    .user_button:after {
        left: 93%;
    }
/*============MENU==================*/
    ul.menu {
        width: 90%;
        left: 5%;;
    }
    ul.menu li {
        width: 16.6%;
        padding-left: 4%;
    }
    ul.menu li a {
        font-size: 75%;
    }
    .menu li:before{
        left: 91%;
    }
    .dropdown-toggle {
        display: none;
    }
/*==============SLIDER======================*/
    .section {
        margin: 0 auto;
        width: 87%;
        height: 294px;
    }
    .wrapper_slider {
        background-image: url(../img/server2.png);
        width: 36.5em;
        height: 250px;
    }
    ol.slider_number {
        top: 15em;
    }
    ol.slider_number li {
        width: 25px;
        height: 21px;
        float: left;
    }
    .slider_text {
        top: 1.5em;  
        left: -12em;
        width: 61%;
    }
    .section_title {
        height: 71px;
    }
    .section_title_text {
        width: 285px;
        height: 76px;
    }
/*=============================*/
    .section_wrapper_text {
        width: 32%;
    }
    .wrapper_section_button {
        margin-top: 5%
    }
/*=============SLIDER-TABS===========*/
    .wrapper_section {
        width: 90%;
    }
    ul.tabs li {
        width: 20%;
    }
    .tabs li.active, .tabs li.active:hover {
       width: 28%;
    }
/*===============================================*/
    .tab_button {
        width: 16.5em;
        left: 72%;
    }
/*=============BREND=======================*/
    .wrapper {
        width: 97%;
    }
    .wrapper_brend_button {
       left: 78%;
    }
/*-------------------------*/
    .brend_logo {
        padding-top: 0.2em;
        height: 162px;
    }
    .brend_atendt, .brend_toshiba, .brend_apple_logo, 
    .brend_microsoft, .brend_cisco, .brend_panasonic, 
    .brend_nokia, .brend_samsung_logo, .brend_ibm, 
    .brend_dell, .brend_intel, .brend_amd, .brend_lenovo,
    .brend_asus_logo,.brend_nec,.brend_kasper {
        height: 65px;
        width: 12.5%;
    }
/*--------------------------------------*/
    .brend_link_colum a {
        padding-left: 3px;
    }
/*=================FOOTER==========================*/
    .footer_wapper {
        width: 96%;
    }
    .footer_wapper_button {
        left: 74%;
    }
/*--------------SMART-----------------------*/
    .footer_articles_smart {
        width: 20%;
        left: 2%;
    }
    .footer_text_smart {
        /*! width: 13.5em; */
    }
/*---------------PRINTER------------------------*/
    .footer_articles_print {
        width: 20%;
        left: 27%;
    }
    .footer_text_print {
        /*! width: 14.5em; */
        left: -0.5em;
    }
/*---------------NOTEBOOK------------------------*/
    .footer_articles_notebook {
        width: 20%;
        left: 51%;
    }
/*---------------HDD------------------------*/
    .footer_articles_hdd {
        width: 20%;
        left: 76%;
    }
    .footer_text_hdd {
        width: 14.5em;
        left: -0.5em;
    }
/*===========================================*/
    .footer_section {
        width: 96%;
    }
/*---------------------------------------*/ 
    .footer_warpper_communication {
        width: 80%;
    }
    .communication_colum3 {
        padding-right: 0;
    }
    .footer_logo {
        background-position: left 45% top 1em;
        border-left: 1px solid #dddcdc;
        padding-top: 25px;
    }
    .footer_logo_text {
        font-size: 11px;
        width: 17em;
        line-height: 17px;
        color: #4e4e4e;
    }
}

@media (max-width: 990px) {
    .header_wrapper_section {
        width: 96%;
    }
    .header_wrapper {
        width: 100%;
    }
    .number {
        width: 37%;
    }
    form {
        width: 94%;
    }
    .input_button {
        left: 48%;
    }
    .help_button {
       left: 62%;
    }
/*==============================*/
    .user_button:after {
        left: 95.5%;
    }
/*============MENU==================*/
    ul.menu {
        width: 96%;
        left: 2%;;
    }
    ul.menu li {
        width: 16.6%;
        padding-left: 3%;
        padding-top: 7px;
    }
    ul.menu li a {
        font-size: 75%;
    }
    .menu li:before{
        left: 91%;
    }
/*==============SLIDER======================*/
    .section {
        width: 96%;
        height: 315px;
    }
    .wrapper_slider {
    position: relative;
    left: -2%;
    }
    ol.slider_number {
        top: 15em;
        left: 2%;
    }
    ol.slider_number li {
        width: 25px;
        height: 21px;
        float: left;
    }
    .slider_text {
        top: 1.5em;  
        left: -12em;
    }
/*=============================*/
    .section_wrapper_text {
        width: 31%;
    }
/*=============SLIDER-TABS===========*/
    .wrapper_section {
        width: 97%;
    }
    ul.tabs li {
        width: 20%;
    }
    .kasperski, .FR, .windows {
       padding-left: 20%;
       background-position: left top;
       width: 90%;
    } 
    .wrapper_section_button {
       margin-top: 15px;
       width: 135px;
    }
/*===============================================*/
    .tab_button {
        width: 16.5em;
        left: 72%;
        top: 45em;
    }
    .asus_gift {
       top: -9em;
    }
/*=============BREND=======================*/
    .wrapper {
        width: 97%;
    }
    .wrapper_brend_button {
       left: 75%;
    }
/*-------------------------*/
    .brend_logo {
        padding-top: 1.2em;
        height: 175px;
    }
    .brend_atendt, .brend_toshiba, .brend_apple_logo, 
    .brend_microsoft, .brend_cisco, .brend_panasonic, 
    .brend_nokia, .brend_samsung_logo, .brend_ibm, 
    .brend_dell, .brend_intel, .brend_amd, .brend_lenovo,
    .brend_asus_logo,.brend_nec,.brend_kasper {
        height: 65px;
        width: 12.5%;
    }
/*--------------------------------------*/
    .brend_link_colum a {
        padding-left: 3px;
    }
/*=================FOOTER==========================*/
    .footer_wapper {
        width: 96%;
    }
    .footer_wapper_button {
        left: 72%;
    }
/*--------------SMART-----------------------*/
    .footer_articles_smart {
        width: 20%;
        left: 2%;
    }
    .footer_text_smart {
        /*! width: 13.5em; */
    }
/*---------------PRINTER------------------------*/
    .footer_articles_print {
        width: 20%;
        left: 27%;
    }
    c {
        width: 14.5em;
        left: -0.5em;
    }
/*---------------NOTEBOOK------------------------*/
    .footer_articles_notebook {
        width: 20%;
        left: 51%;
    }
/*---------------HDD------------------------*/
    .footer_articles_hdd {
        width: 20%;
        left: 76%;
    }
    .footer_text_hdd {
        width: 14.5em;
        left: -0.5em;
    }
/*===========================================*/
    .footer_section {
        width: 96%;
    }
/*---------------------------------------*/ 
    .footer_warpper_communication {
        width: 80%;
        height: 16em;
    }
    .facebook {
       width: 13em;
    }
    .vKontakte {
       text-align: left;
       float: right;
    }
    .Twitter {
       width: 7em;
       padding-left: 16px;
    }
    .footer_logo {
        width: 20%;
        background-position: left 45% top 1em;
        border-left: 1px solid #dddcdc;
        padding-top: 25px;
    }
    .footer_logo_text {
        width: 15em;
        color: #4e4e4e;
    }
}
@media (max-width: 890px) {
    .header_wrapper {
        height: 150px;
    }
    .header_wrapper_section {
        height: 7em;
    }
    .header_logo {
        width: 25%;
    }
    .help {
        display: none;
    }
    .number {
        width: 40%;
        font-size: 18px;
    }
    span {
        font-size: 18px;
        font-weight: inherit;
    }
    .input {
        margin-top: 10px;
    }
    .input_button { 
        top: 4.3em;
        left: 54.2%;
    }
    .user {
        width: 11em;
    }
    .user_img {
	    width: 5em;
    }
    .user_href_text {
        display: none;
    }
    .user_button {
        width: 94%;
        height: 50px;
    }
    .user_button_img {
        background-position: left top;
    }
    .user_button_img a {
        font-size: 20px;
    }
/*================MENU-BURGER==========================*/
    ul.main_menu li {
        float: none;
    }
    .header_menu_help_img {
        display: none;
    }
    .header_menu {
        position: absolute;
         top: 12em;
        left: 75%;
        width: 20%;
    }
    .hamburger {
      display: block;
      position: absolute;
      width: 36px;
      height: 33px;
      z-index: 2;
      background: #ffffff;
      border-radius: 5px 5px;
      border: 3px solid #a9a9a9;
      left: 84%;
      top: -3em;
    }

    .hamburger__inner {
      display: block;
      width: 20px;
      height: 3px;
      margin-top: 12px;
      background: #a9a9a9;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      margin-left: 5px;
    }
    .hamburger__inner::before, .hamburger__inner::after {
      display: block;
      position: absolute;
      content: "";
      z-index: -1;
      width: 20px;
      height: 3px;
      background: #a9a9a9;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
    .hamburger__inner::before {
      top: 5px;
      left: 5px;
    }
    .hamburger__inner::after {
      top: 19px;
      left: 5px;
    }

    .hamburger--open .hamburger__inner {
      background: none;
    }
    .hamburger--open .hamburger__inner::before, .hamburger--open .hamburger__inner::after {
      top: 12px;
    }
    .hamburger--open .hamburger__inner::before {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    .hamburger--open .hamburger__inner::after {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    ul.menu li {
        float: none;
        width: auto;
        padding: 0;
        border-right: none;
        line-height: 15px;
        height: 40px;
    }
    .menu li:before {
        display: none;
    }
    ul.menu {
       background: none;
       height: 15em;
    }
    ul.menu li a {
        font-size: 16px;
        color: #090a0b;
    }
    ul.menu li a:hover {
        height: 40px;
        background: #eef0f0;
    }
    .dropdown-menu a {
        color: #333;
        text-shadow: 0 1px #fff;
    }
    .dropdown-menu {
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
        list-style-type: none;
        padding: 0;
        margin: 0;
        opacity: 0;
        visibility:hidden;
        text-indent: 10px;
        line-height: 32px;
        border: 1px solid #ccc;
        background: #f0f4f5;
        width: 40em;
    }

    .dropdown-menu a {
        display: block;
    }
    .dropdown-toggle:focus ~ .dropdown-text {
        box-shadow: 0 1px 3px rgba(0,0,0, .2) inset, 0 1px 0 rgba(255,255,255, 0.8);
        z-index: 2;
    }
    .dropdown-menu:hover,
    .dropdown-toggle:focus ~ .dropdown-menu {
        opacity: 1;
        visibility:visible;
        top: 42px;
    }
/*===================MENU=============================*/
    ul.menu li {
        float: none;
        width: auto;
        padding: 0;
        border-right: none;
        line-height: 15px;
        height: 40px;
    }
    .menu li:before {
        display: none;
    }
    ul.menu {
       background: none;
       height: 15em;
    }
    ul.menu li a {
        font-size: 16px;
        color: #090a0b;
        padding-top: 10px;
    }
    ul.menu li a:hover {
        height: 40px;
        background: #eef0f0;
    }
    .dropdown-toggle, .dropdown-text {
        display: block;
    }
    .section_menu {
        
    margin: 0 auto;
    background: #0c6095;
    width: 96%;
    position: relative;
    top: -45px;
    border-radius: 5px 5px;
    }
    .dropdown {
        position: relative;
        display: inline-block;
        text-align: left;
        width: 30%;
        top: -0.3em;
        left: 2em;
    }
    .dropdown-text {
        cursor: pointer;
        position: absolute;
        text-indent: 10px;
        line-height: 32px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: 0 1px 0 rgba(255,255,255, .9) inset, 0 1px 3px rgba(0,0,0, .1);
        width: 100%;
    }

    .dropdown-text:after {
        position: absolute;
        right: 6px;
        top: 15px;
        content: '';
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        border-color: #555 transparent transparent transparent;
    }

    .dropdown-text,
    .dropdown-content a {
        color: #333;
        text-shadow: 0 1px #fff;
    }

    .dropdown-toggle {
        z-index: 1;
        cursor: pointer;
        position: absolute;
        top: 0;
        border: none;
        padding: 0;
        margin: 0 0 0 1px;
        background: transparent;
        text-indent: -10px;
        height: 34px;
        width: 100%;
    }

    .dropdown-toggle:focus {
        outline: 0;
    }
    .dropdown-content {
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
        list-style-type: none;
        padding: 0;
        margin: 0;
        opacity: 0;
        visibility:hidden;
        text-indent: 10px;
        line-height: 32px;
        border: 1px solid #ccc;
        background: #f0f4f5;
        width: 40em;
    }
    .dropdown-content a {
        display: block;
    }
    .dropdown-toggle:focus ~ .dropdown-text {
        box-shadow: 0 1px 3px rgba(0,0,0, .2) inset, 0 1px 0 rgba(255,255,255, 0.8);
        z-index: 2;
    }
    .dropdown-toggle:focus ~ .dropdown-text:after {
        border-width: 0 4px 5px 4px;
        border-color: transparent transparent #555 transparent;
    }
    .dropdown-content:hover,
    .dropdown-toggle:focus ~ .dropdown-content {
        opacity: 1;
        visibility:visible;
        top: 42px;
    }

/*-------------------------------*/
    .wrapper_slider {
        height: 270px;
        top: -2em;
        left: 13%;
    }
    ol.slider_number {
        left: 1.5%;
    }
    .slider_text {
        width: 50%;
        left: -16em;
    }
    .section_wrapper_text {
        width: 88%;
    }
    .kasperski, .FR, .windows {
        padding-left: 9%;
    }
/*===================================*/
    .section_tabs {
        float: left;
        height: 404px;
    }
    .tab_button {
        top: 62em; 
        left: 67%;
    }
    .tabs_dropdown {
        display: none;
    }
    .tabs_hamburger {
        display: block;
        position: absolute;
        width: 36px;
        height: 33px;
        z-index: 2;
        background: #ffffff;
        border-radius: 5px 5px;
        border: 3px solid #a9a9a9;
        left: 29%;
        top: 48.4em;
    }
    .tabs li.active, .tabs li.active:hover {
        
    width: 35%;
    text-align: left;
    padding-left: 20px;
    }
/*====================================*/
    .wrapper {
        height: 62em;
        width: 100%;
    }
    .wrapper_brend {
        width: 46%;
        font-size: 16px;
        font-weight: bold;
    }
    .wrapper_brend_button {
        top: 88em;
        left: 70%;
    }
    .brend_logo {
        height: 290px;
        margin: 0 auto;
        width: 96%;
    }
    .brend_atendt, .brend_toshiba, .brend_apple_logo, 
    .brend_microsoft, .brend_cisco, .brend_panasonic, 
    .brend_nokia, .brend_samsung_logo, .brend_ibm, 
    .brend_dell, .brend_intel, .brend_amd, .brend_lenovo,
    .brend_asus_logo,.brend_nec,.brend_kasper {
        height: 65px;
        width: 25%;
    }
    .brend_link {
        width: 95%;
        font-size: 13px;
        -webkit-columns: 4 20px;
        -moz-columns: 4 20px;
        columns: 4 20px;
        margin: 0 auto;
    }
/*  =========================================    */
    .footer_wapper_button {
        top: 146em;
        left: 63%;
    }
    .footer_wapper {
        height: 760px;
    }
    .footer_articles_smart {
        top: 127em;
        left: 13%;
        width: 60%;
    }
    .footer_text_smart {
        /*! width: 26em; */
        left: 11em;
        top: 3em;
    }
    .footer_articles_print {
        top: 136em;
        left: 12%;
        width: 60%;
    }
    .footer_text_print {
        /*! width: 26em; */
        left: 11em;
        top: 3em;
    }
    .footer_articles_notebook {
        top: 145em;
        left: 12%;
        width: 60%;
    }
    .footer_text_notebook {
        left: 11em;
        top: 3em;
    }
    .footer_articles_hdd {
        top: 155em;
        left: 12%;
        width: 60%;
    }
    .footer_text_hdd {
        width: 26em;
        left: 11em;
        top: 3em;
    }
/*======================================*/
    .footer_menu {
        display: block;
        line-height: 22px;
        width: 80%;
    }
    .footer_menu a {
        padding-left: 7px;
    }
    .footer_menu_help_img {
        height: 25px;
        top: 0.3em;
        left: 1%;
        float: left;
    }
/* ========================================= */
    .footer_warpper_communication {
        height: 20em;
    }
    .communication_colum1 {
        width: 84%;
        height: 133px;
    }
    .footer_number {
        float: left;
        width: 220px;
        margin-right: 20px;
    }
    .communication_colum1_text {
        padding-top: 22px;
        float: inherit;
    }
    .communication_colum2 {
        width: 100%;
    }
    .footer_mode {
        float: left;
        width: 43%;
        padding: 0;
    }
    .footer_payment {
        float: left;
    }
    .communication_colum3 {
        width: 100%;
    }
    .fa-facebook-official {
        float: left;
        width: 35%;
    }
    .fa-vk {
        float: left;
        width: 39%;
        padding-right: 20px;
    }
    .fa-twitter-square {
        float: left;
        width: 22%;
    }
    .footer_logo {
        height: 5em;
        width: 100%;
        padding-top: 20px;
        background-position: left 40% center;
        border-top: 1px solid #e6e6e6;
        border-left: none;
    }
    .footer_logo_text {
        padding: 0;
        width: 20em;
        float: right;
    }
}
@media (max-width: 720px) {
    .header_wrapper_section {
        height: 6.5em;
    }
    .header_logo {
        width: 40%; 
    }
    .number {
        width: 55%;
    }
    .input_button {
        left: 78%;
    }
    .user {
        width: 100%;
        height: 48px;
    }
    .user_img {
        padding: 0;
        width: 7em;
        float: left;
        background-position: top center;
    }
    .user_button {
        width: 35%;
        position: relative;
        top: -17px;
        left: 0;
    }
    .user_button:after {
    top: 1.2em;
    left: 88%;
    }
/* ============================== */
    .section_menu {
        top: -10px;
    }
    
/* ============================== */
    .tab_button {
        
    top: 43em;
    left: 58%;
    }
    .dropdown {
       left: 0.5em;
       width: 50%;
       text-align: center;
    }
    .hamburger {
       left: 75%;
       top: -6px;
    }
    .wrapper_slider {
       display: none;
    }
    .kasperski, .FR, .windows {
        padding-left: 15%
    }
/* ================================ */
    .wrapper_brend {
        width: 50%;
    }
    .wrapper_brend_button {
       top: 70em;
       left: 63%;
    }
    .brend_link {
    width: 100%;
    font-size: 9px;
    }
/* ================================ */
    .tabs_hamburger {
       left: 40%;
       top: 33em;
    }
    .tabs li.active, .tabs li.active:hover {
        width: 50%;
    }
    .wrapper {
        height: 40em;
    }
/* ==================================== */
    .footer_wapper {
        
    height: 600px;
    }
    .footer_wapper_button {
        top: 121em;
        left: 55%;
    }
    .footer_articles_smart {
        top: 104em;
        left: 5%;
        width: 60%;
    }
    .footer_articles_print {
        top: 113em;
        left: 5%;
        width: 60%;
    }
    .footer_articles_notebook {
        top: 122em;
        left: 5%;
        width: 60%;
    }
    .footer_articles_hdd {
    display: none;
    }
    .footer_menu {
        width: 90%;
    }
    .footer_warpper_communication {
        width: 99%;
    }
    .communication_colum2 {
        height: 100px;
    }
    .footer_logo {
        padding: 0;
    }
    .footer_logo_text {
        
    padding-top: 20px;
    }
}
@media (max-width: 460px) {
    .header_logo {
        width: 60%;
        float: left;
    }
    .number {
        display: none;
    }
    .user {
        
    width: 40%;
    text-align: center;
    }
    .user_img {
        
    width: 8em;
    padding-top: 0.7em;
    background-position: left 20% center;
    }
    .user_button {
        width: 80%;
        height: 40px;
        top: 0;
    }
    .user_button_img {
        background-image: url(../img/pokupki_index.png);
        background-repeat: no-repeat;
        padding-top: 4px;
        height: 30px;
        background-position: top 0.3em left 5%;
    }
    .user_button_img a {
        font-size: 14px;
        padding-left: 7px;
    }
/* ================================= */
    .dropdown {
        
    width: 65%;
    text-align: left;
    }
    .hamburger {
        left: 40%;
    }
/* ================================= */
    .section_wrapper_text {
        width: 100%;
    }
    .kasperski, .FR, .windows {
        padding-left: 20%;
    }
/* ================================ */
    
    .tabs li.active, .tabs li.active:hover {
        width: 65%;
        font-size: 15px;
        padding-left: 5px;
    }
    .tabs_hamburger {
        
    left: 48%;
    }
    .tab_button {
        left: 5%;
        top: 65em;
    }
/* =============================== */
    .wrapper {
        height: 25em;
    }
    .wrapper_brend {
        width: 90%;
    }
    .wrapper_brend_button {
        top: 96em;
        left: 5%;
    }
    .brend_atendt, .brend_toshiba, .brend_apple_logo, .brend_microsoft, .brend_cisco, .brend_panasonic, .brend_nokia, .brend_samsung_logo{
        width: 48%;
    }
    .brend_ibm, .brend_dell, .brend_intel, .brend_amd, .brend_lenovo, .brend_asus_logo, .brend_nec, .brend_kasper {
        display: none;
    }
        
    .brend_link {
        display: none;
    }
/* ============================== */
    .footer_wapper {
        height: 20em;
    }
    .footer_wapper_button {
        top: 121em;
        left: 5%;
    }
    .footer_articles_smart {
    background: none;
    }
    .footer_text_smart {
        left: 0em;
        top: -14em;
        width: 20em;
    }
    .footer_articles_print, .footer_articles_notebook {
        display: none;
    }
    .footer_menu {
        display: none;
    }
/* ================================================= */
    .footer_warpper_communication {
        
    height: 23em;
    }
    .communication_colum1 {
       width: 100%;
       height: 120px;
    }
    .footer_number {
    width: 100%;
    margin: 0;
    height: 50px;
    padding-top: 5px;
    }
    .communication_colum1_text {
        display: none;
    }
/* ------------------------------- */
    .communication_colum2 {
        height: 150px;
    }
    .footer_mode {
        width: 100%;
    }
/* -------------------------------- */
    .fa-facebook-official, .fa-vk, .fa-twitter-square {
    padding: 0;
    width: 33%;
    text-align: center;
    }
    .facebook, .vKontakte, .Twitter {
        padding: 0;
        font-size: 12px;
        width: 8em;
        text-align: center;
    }
    .footer_logo {
        
    background-position: center center;
    height: 5em;
    }
    .footer_logo_text {
        
    padding: 0;
    position: relative;
    top: 77px;
    left: -8%;
    }
}