/*==========  Desktop First Method  ==========*/

@media only screen and (max-width: 1370px) {
    .inform_border {
        height: 200px;
    }
}


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1280px) {
    header {
        height: auto;
    }
    .inform_border {
        height: 150px;
    }
    .header_form_title {
        width: 41%;
        font-size: 80%;
        left: 5%;
        top: 11em;
    }
    .header_form_text {
        width: 51%;
        left: 1%;
        top: 17em;
    }
    .main_menu ul li {
        width: 13%;
    }
    .programm {
        top: 20em;
        left: 10%;
    }
    .main_menu a {
        font-size: 90%;
    }
    .registration {
        top: 23.5em;
        left: 13.5%;
    }
    .header_logo_text p {
        width: 65%;
    }
    .info_bloc_img_text {
        width: 100%;
    }
    .info_bloc_img_1,
    .info_bloc_img_2,
    .info_bloc_img_3 {
        width: 280px;
    }
    p.info_bloc_img_text {
        width: 80%;
    }
    .occupation_1_border_bottom {
        left: 19%;
        top: 234.5em;
    }
    .occupation_3_border_top {
        left: 20%;
        top: 235em;
    }
    .occupation_title_text {
        width: 95%;
    }
    .clients_img {
        width: 100%;
    }
    .course_coach_text_blok {
        width: 60%;
    }
    .course_coach_img {
        width: 400px;
        margin-top: 20px;
    }
    form {
        width: 80%;
    }
    .check_in button {
        left: 35%;
    }
    .check_in p {
        width: 85%;
    }
    .footer_blok {
        width: 20%;
    }
    .header_form,
    .header_form_img {
        height: 20%;
    }
    p.teaching_img_text {
        width: 90%;
    }
    .inform_border_top_top {
        top: 35em;
    }
    .inform_border_top {
        top: 35.5em;
    }
    .inform_border_bottom_bottom {
        top: 78em;
    }
    .inform_border_bottom {
        top: 76em;
        left: 83%;
    }
    .teaching_border_top_top {
        top: 129em;
    }
    .teaching_border_top {
        top: 129.5em;
    }
    .teaching_border_bottom_bottom {
        top: 177em;
    }
    .teaching_border_bottom {
        top: 175em;
    }
    .program_border_top_top {
        top: 190em;
    }
    .program_border_top {
        top: 190.5em;
    }
    .occupation_1_border_right {
        top: 204em;
    }
    .occupation_2_border_left {
        top: 202em;
        height: 27em;
    }
    .occupation_3_border_right {
        top: 238em;
    }
    .occupation_4_border_left {
        top: 236em;
    }
    .occupation_4_border_top {
        top: 235em;
    }
    .occupation_2_border_bottom {
        top: 234.5em;
    }
    .program_border_bottom_bottom {
        top: 265em;
    }
    .program_border_bottom {
        top: 263em;
        left: 82.5%;
    }
}

@media only screen and (max-width: 1200px) {
    .wrapper {
        width: 100%;
    }
    .header_logo_text p {
        width: 75%;
    }
    .header_form_title h1 {
        font-size: 24px;
    }
    .header_form_title {
        width: 35%;
    }
    .header_form_text {
        width: 42%;
        left: 2%;
    }
    .form_text,
    .form_text_data,
    .header_form_text span {
        font-size: 19px;
        width: 158px;
        margin-left: 0;
        text-align: center;
    }
    .programm {
        left: 6%;
    }
    .registration {
        left: 10%;
    }
    .occupation_3_border_top {
        left: 14%;
        width: 400px;
    }
    .occupation_1_border_bottom {
        left: 12%;
        width: 400px;
    }
    .item p {
        width: 55%;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 1030px) {
    .header_logo_text p {
        font-size: 130%;
        width: 80%;
    }
    .header_logo-fone p span {
        font-size: 150%;
    }
    .main_menu ul li {
        width: 18%;
    }
    .inform_border_top_top {
        left: 5%;
        top: 30.5em;
    }
    .inform_border_top {
        left: 6%;
        top: 31em;
    }
    .inform_kurse_text {
        width: 30em;
    }
    .inform_kurse_text h3 {
        font-size: 88%;
    }
    .inform_kurse_text p,
    .inform_kurse_text span {
        font-size: 80%;
    }
    .border_radius {
        margin-left: 0;
    }
    .inform_text_title h1 {
        font-size: 200%;
    }
    .inform_text_title h2 {
        font-size: 170%;
    }
    .inform_text_title p {
        font-size: 150%;
    }
    p.info_bloc_img_text {
        font-size: 90%;
        margin-bottom: 30px;
        width: 91%;
    }
    .info_bloc_img_1,
    .info_bloc_img_2,
    .info_bloc_img_3 {
        width: 80%;
    }
    .teaching_border_top_top {
        left: 5%;
        top: 109.5em;
    }
    .teaching_border_top {
        left: 6%;
        top: 110em;
    }
    p.teaching_img_text {
        width: 77%;
        font-size: 95%;
    }
    .method_teaching_button {
        left: 30%;
    }
    .program_border_top_top {
        left: 5%;
    }
    .program_border_top {
        left: 6%;
    }
    .owl-carousel .owl-wrapper-outer {
        width: 90%;
    }
    .item p {
        width: 60%;
        font-size: 80%;
        margin-left: 20px;
    }
    .our_clients h1 {
        font-size: 150%;
    }
    .clients_img {
        width: 100%;
        text-align: center;
    }
    .clients_arterium,
    .clients_Avon {
        width: 20%;
    }
    .clients_arterium,
    .clients_farm,
    .clients_Biuap,
    .clients_icon,
    .clients_marketing,
    .clients_Avon,
    .clients_finanse {
        width: 19%;
        height: 81px;
    }
    .course_coach_img {
        width: 38%;
    }
    .course_coach_img img {
        width: 60%;
    }
    .course_coach_text p,
    .course_coach_text_blok p {
        font-size: 90%;
        width: 90%;
    }
    .check_in p {
        font-size: 90%;
    }
    input {
        width: 20em;
    }
    .check_in button {
        left: 30%;
    }
    .training_program {
        height: auto;
    }
    .occupation_2_border_bottom {
        left: 51%;
        width: 43%;
        top: 208em;
    }
    .occupation_4_border_top {
        left: 53%;
        width: 40%;
        top: 208.5em;
    }
    .occupation_title_text {
        width: 90%;
    }
    .occupation_box {
        width: 50%;
        height: 29em;
    }
    .occupation_title_text p {
        font-size: 80%;
    }
    .occupation_1_border_bottom {
        left: 9%;
        width: 38%;
        top: 208em;
    }
    .occupation_3_border_top {
        width: 42%;
        left: 7%;
        top: 208.5em;
    }
    .occupation_1_border_right {
        height: 23em;
        top: 182em;
    }
    .occupation_2_border_left {
        height: 26em;
        top: 180em;
    }
    .occupation_3_border_right {
        top: 211em;
        height: 23em;
    }
    .occupation_4_border_left {
        top: 212em;
        height: 23em;
    }
    .program_border_top_top {
        top: 177em;
    }
    .program_border_top {
        top: 177.5em;
    }
    .program_border_bottom {
        top: 229em;
        left: 81%;
    }
    .program_border_bottom_bottom {
        left: 84.5%;
        top: 231em;
    }
    .header_form_title {
        width: 36%;
        height: 89px;
        top: 11em;
    }
    .header_form_text {
        width: 47%;
        top: 15em;
        height: 55px;
        left: 1%;
    }
    .form_text,
    .form_text_data,
    .header_form_text span {
        padding-top: 10px;
        margin-top: 6px;
        font-size: 16px;
    }
    .header_form_title h1 {
        font-size: 20px;
        padding-top: 3px;
    }
    .programm {
        top: 17em;
        left: 4%;
    }
    .registration {
        top: 20.5em;
        left: 9%;
    }
    .inform_border {
        height: 60px;
    }
    .inform_border_bottom_bottom {
        top: 60em;
    }
    .inform_border_bottom {
        top: 58em;
        left: 81.5%;
    }
    .teaching_border_bottom {
        top: 157em;
        left: 82%;
    }
    .teaching_border_bottom_bottom {
        top: 159em;
        left: 85.5%;
    }
    .teaching_border {
        height: 100px;
    }
    .our_clients {
        height: auto;
    }
    .course_coach_text_blok {
        margin-left: 50px;
    }
    .footer_logo {
        width: 26%;
    }
    .footer_blok {
        width: 25%;
    }
}

@media only screen and (max-width: 880px) {
    .header_form_text,
    .form_text_data {
        display: none;
    }
    .header_form_title {
        top: 11em;
        width: 40%;
    }
    .programm {
        top: 13.5em;
    }
    .registration {
        top: 17em;
    }
    .inform_kurse_text {
        width: 25em;
    }
    .course_coach_text_blok {
        width: 70%;
    }
    .footer_blok_icon p i {
        font-size: 30px;
    }
    .footer_blok_icon {
        width: 17%;
    }
    .footer_blok {
        width: 27%;
    }
    #header_logo {
        width: 100%;
    }
    .inform_border {
        height: 70px;
    }
}

@media only screen and (max-width: 800px) {
    .occupation_box {
        height: 30em;
    }
    .inform_border {
        height: 60px;
    }
    .header_form_title {
        left: 10%;
        width: 32em;
    }
    .header_form_title {
        width: 25em;
        left: 5%;
        top: 11em;
    }
    .programm {
        left: 1%;
    }
    .registration {
        left: 7%;
    }
    .inform_kurse_text {
        width: 98%;
    }
    .inform_border_bottom {
        left: 80.5%;
        top: 55em;
    }
    .inform_border_bottom_bottom {
        left: 84%;
        top: 57em;
    }
    .inform_border_top_top {
        top: 27em;
    }
    .inform_border_top {
        top: 27.5em;
    }
    .wrapper {
        width: 100%;
    }
    .info_bloc_img {
        width: 33%;
    }
    .teaching_border_bottom {
        top: 154em;
        left: 79%;
    }
    .teaching_border_bottom_bottom {
        top: 156em;
        left: 83%;
    }
    p.teaching_img_text {
        width: 88%;
    }
    .training_program {
        height: auto;
    }
    .owl-carousel .owl-wrapper-outer {
        width: 90%;
        margin: 0;
    }
    .item p {
        margin-left: 25px;
        width: 70%;
        font-size: 70%;
    }
    .item h3 {
        width: 21%;
    }
    .item img {
        width: 13%;
        margin-top: 20px;
    }
    .clients_arterium,
    .clients_farm,
    .clients_Biuap,
    .clients_icon,
    .clients_marketing,
    .clients_Avon,
    .clients_finanse {
        width: 25%;
    }
    .our_clients {
        height: auto;
    }
    .inform_text_title {
        width: 33%;
    }
    .course_coach_text {
        width: 60%;
    }
    .course_coach_img img {
        width: 80%;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .logo {
        width: 26%;
    }
    .inform_border {
        height: 85px;
    }
    .header_logo_text {
        width: 49%;
    }
    .header_logo_text p {
        font-size: 100%;
    }
    .header_logo-fone p {
        font-size: 100%;
    }
    .course_coach_img {
        width: 40%;
    }
    .course_coach_img img {
        width: 80%;
    }
    .course_coach_text p,
    .course_coach_text_blok p {
        font-size: 80%;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 680px) {
    .inform_border {
        height: 50px;
    }
    .inform_border_top_top {
        top: 23em;
        width: 130px;
        height: 126px;
    }
    .inform_border_top {
        top: 23.5em;
    }
    .inform_border_bottom {
        left: 75.5%;
        top: 58em;
    }
    .inform_border_bottom_bottom {
        left: 80%;
        top: 60em;
    }
    .inform_text_title {
        float: none;
        width: 100%;
        height: 100px;
        flex-direction: inherit;
    }
    .inform_text_title h1,
    .inform_text_title h2,
    .inform_text_title p {
        float: left;
        width: 137px;
        text-align: left;
    }
    .inform_kurse_text_bloc {
        justify-content: center;
        align-items: center;
    }
    .inform_kurse_text {
        width: 74%;
    }
    .info_bloc h1 {
        min-height: 80px;
    }
    .info_bloc_img {
        width: 50%;
        margin: 0 auto;
    }
    .info_bloc {
        height: auto;
    }
    .info_bloc_img_1,
    .info_bloc_img_2,
    .info_bloc_img_3 {
        height: 200px;
        width: 75%;
    }
    .teaching_border_top_top {
        left: 5%;
        top: 132em;
    }
    .teaching_border_top {
        left: 6%;
        top: 132.5em;
    }
    .teaching_border {
        height: 50px;
    }
    .teaching_wrapper {
        width: 100%;
    }
    .method_teaching_button {
        width: 300px;
        top: -63px;
    }
    .method_teaching {
        height: auto;
    }
    p.teaching_img_text {
        width: 90%;
        font-size: 80%;
    }
    .teaching_img {
        height: 220px;
        width: 30%;
    }
    .program_border_bottom {
        top: 288em;
        left: 76%;
    }
    .program_border_bottom_bottom {
        left: 81%;
        top: 290em;
    }
    h1.occupation_title {
        justify-content: center;
    }
    .item img {
        width: auto;
        float: unset;
        margin-bottom: 10px;
    }
    .item {
        text-align: center;
    }
    .reviews h1 {
        min-height: 100px;
    }
    .item p {
        float: unset;
        width: 80%;
        margin: 0 auto;
    }
    .item h3 {
        width: 90%;
        margin: 0 auto;
    }
    .our_clients h1 {
        min-height: 55px;
    }
    .clients_arterium,
    .clients_farm,
    .clients_Biuap,
    .clients_icon,
    .clients_marketing,
    .clients_Avon,
    .clients_finanse {
        height: 70px;
        width: 25%;
    }
    .course_coach h1 {
        height: 70px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .course_coach_text p,
    .course_coach_text_blok p {
        width: 100%;
    }
    .occupation_box {
        margin-left: 40px;
        width: 80%;
        margin-bottom: 30px;
    }
    .course_coach {
        height: auto;
    }
    .check_in h1 {
        height: 80px;
    }
    .check_in p {
        width: 90%;
    }
    form {
        width: 100%;
    }
    .check_in button {
        width: 290px;
    }
    .header_form_title {
        top: 10em;
        width: 56%;
        left: 1%;
    }
    .programm {
        top: 16.5em;
        left: 7%;
        width: 300px;
        font-size: 14px;
    }
    .registration {
        top: 16em;
        left: 9%;
        height: 40px;
    }
    .info_bloc_img_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .teaching_border_bottom_bottom {
        top: 170em;
    }
    .teaching_border_bottom {
        top: 168em;
        left: 78.5%;
    }
    .training_program h1 {
        min-height: 100px;
    }
    .occupation_box {
        float: initial;
        width: 78%;
        margin: 0 auto;
        height: 26em;
        margin-bottom: 35px;
    }
    .occupation_1_border_right,
    .occupation_2_border_left,
    .occupation_3_border_top,
    .occupation_1_border_bottom,
    .occupation_2_border_bottom,
    .occupation_3_border_right,
    .occupation_4_border_top,
    .occupation_4_border_left,
    .occupation_4_border_top,
    .occupation_4_border_left {
        display: none;
    }
    .occupation_title_text {
        width: 100%;
        font-size: 18px;
    }
    .program_border_top_top {
        top: 185em;
    }
    .program_border_top {
        top: 185.5em;
    }
    .footer_logo {
        width: 20%;
    }
    .footer_blok {
        width: 30%;
    }
    .footer_blok_icon p i {
        font-size: 25px;
    }
    .course_coach_text_blok {
        margin-bottom: 20px;
        width: 82%;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 600px) {
    .menu-btn, .pushy {
        display: block;
    }
    .main_menu,
    .menu,
    header_menu {
        display: none;
    }
    .inform_border {
        height: 0;
    }
    .inform_border_top_top,
    .inform_border_top,
    .inform_border_bottom,
    .inform_border_bottom_bottom {
        display: none;
    }
    .teaching_border_top_top,
    .teaching_border_top,
    .teaching_border_bottom_bottom,
    .teaching_border_bottom {
        display: none;
    }
    .program_border_top_top,
    .program_border_top,
    .program_border_bottom_bottom,
    .program_border_bottom {
        display: none;
    }
    .course_coach_text_blok {
        width: 85%;
        margin-bottom: 30px;
        margin-left: 20px;
    }
    .course_coach_img img {
        width: 85%;
    }
    .occupation_box {
        height: 28em;
    }
    .header_form_title {
        display: none;
    }
    .registration {
        top: 11em;
        left: 3%;
    }
    .programm {
        top: 10em;
        left: 1%;
    }
    .clients_arterium,
    .clients_farm,
    .clients_Biuap,
    .clients_icon,
    .clients_marketing,
    .clients_Avon,
    .clients_finanse {
        width: 24%;
    }
    .clients_img {
        padding-left: 5%;
    }
    .method_teaching_button {
        left: 23%;
    }
    p.info_bloc_img_text {
        width: 100%;
    }
    .inform_kurse_text {
        width: 90%;
    }
    .teaching_img {
        width: 45%;
    }
    .logo {
        width: 35%;
    }
    .header_logo_text p {
        width: 100%;
    }
    .course_coach_text p span {
        font-size: 90%;
    }
    form {
        height: 190px;
    }
    .check_in button {
        left: 25%;
    }
}

@media only screen and (max-width: 480px) {
    .nav-list {
        width: 35%;
    }
    .method_teaching_button {
        top: -30px;
        left: 19%;
    }
    .info_bloc_img {
        width: 85%;
    }
    .programm {
        width: 240px;
        font-size: 80%;
    }
    .registration {
        width: 170px;
        left: 8%;
        font-size: 80%;
        top: 15em;
    }
    .occupation_box {
        width: 100%;
        margin-bottom: 0;
        height: 30em;
    }
    .clients_arterium,
    .clients_farm,
    .clients_Biuap,
    .clients_icon,
    .clients_marketing,
    .clients_Avon,
    .clients_finanse {
        width: 42%;
    }
    .course_coach_img {
        width: 100%;
        margin: 0;
    }
    .course_coach_img img {
        width: 50%;
    }
    .course_coach_text {
        width: 90%;
        margin-left: 5%;
    }
    .course_coach_text_blok {
        width: 90%;
        margin-left: 20px;
        height: auto;
    }
    .check_in p {
        font-size: 80%;
        width: 95%;
    }
    form {
        height: 12em;
    }
    .check_in button {
        left: 16%;
    }
    .footer_logo {
        display: none;
    }
    .footer_blok {
        width: 45%;
    }
    .footer_blok_icon {
        width: 100%;
        margin-bottom: 20px;
    }
    .reviews h1 {
        font-size: 26px;
    }
    .info_bloc h1 {
        font-size: 24px;
    }
    .course_coach_text p,
    .course_coach_text_blok p {
        font-size: 90%;
    }
    .course_coach_text p span {
        font-size: 100%;
    }
    .inform_text_title h1,
    .inform_text_title h2,
    .inform_text_title p {
        font-size: 25px;
        width: 120px;
        text-align: center;
    }
    .inform_kurse_text {
        display: flex;
        flex-direction: column;
        /*! width: 100%; */
    }
    .border_radius {
        float: none;
        margin: 0;
        margin-bottom: 15px;
    }
    .inform_kurse_text_bloc {
        height: auto;
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 360px) {
    .logo {
        width: 100%;
        background-position: center center;
    }
    .menu-btn {
        left: 12%;
        top: 26px;
    }
    .programm {
        top: 12.5em;
        left: 1.5%;
        width: 175px;
        text-align: center;
        font-size: 75%;
    }
    .registration {
        top: 16em;
        left: 10%;
        width: 120px;
    }
    .inform_text_title {
        font-size: 80%;
    }
    .border_radius {
        float: none;
        margin: 0;
        margin-bottom: 15px;
    }
    .inform_kurse_text_bloc {
        height: auto;
    }
    .teaching_img,
    .teaching_img_box {
        width: 85%;
    }
    .method_teaching_button {
        left: 8%;
        width: 250px;
        font-size: 16px;
    }
    .training_program h1 {
        font-size: 24px;
    }
    .occupation_box_wrapper {
        width: 90%;
    }
    .reviews h1 {
        font-size: 20px;
    }
    .item p {
        width: 95%;
    }
    .owl-carousel .owl-wrapper-outer {
        width: 100%;
    }
    .clients_arterium,
    .clients_farm,
    .clients_Biuap,
    .clients_icon,
    .clients_marketing,
    .clients_Avon,
    .clients_finanse {
        width: 50%;
    }
    .clients_img {
        padding: 0;
    }
    .course_coach h1 {
        font-size: 24px;
    }
    .course_coach h2 {
        font-size: 18px;
    }
    .course_coach_text p,
    .course_coach_text_blok p,
    .course_coach_text_blok p span {
        font-size: 15px;
    }
    .course_coach_text_blok {
        height: auto;
        padding-bottom: 15px;
    }
    .check_in p {
        width: 100%;
        font-size: 75%;
        margin-bottom: 15px;
    }
    .check_in button {
        left: 10%;
        width: 250px;
        font-size: 16px;
    }
    .check_in {
        height: 37em;
    }
    .footer_blok {
        width: 47%;
    }
    .footer_blok p,
    .footer_blok p a {
        font-size: 11px;
    }
    .method_teaching_img h1 {
        font-size: 24px;
        height: 70px;
    }
    .info_bloc_img {
        width: 95%;
    }
    .info_bloc_img_1,
    .info_bloc_img_2,
    .info_bloc_img_3 {
        width: 80%;
    }
    .header_logo-fone p {
        font-size: 92%;
        margin-left: 15px;
    }
}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}