<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS 11-12</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/carousel.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
 <div class="wrapper">
     <div class="wrapper-carousel">
      <div class="carousel-arrow-left"><span>Влево</span></div>
           <div class="carousel-hider">
                <ul class="carousel-list" >
                    <li class="carousel-element"><img src="img/1.jpg"></li>
                    <li class="carousel-element"><img src="img/2.jpg"></li>
                    <li class="carousel-element"><img src="img/3.jpg"></li>
                    <li class="carousel-element"><img src="img/4.jpg"></li>
                    <li class="carousel-element"><img src="img/5.jpg"></li>
                    <li class="carousel-element"><img src="img/6.jpg"></li>
                    <li class="carousel-element"><img src="img/7.jpg"></li>
                    <li class="carousel-element"><img src="img/8.jpg"></li>
                    <li class="carousel-element"><img src="img/9.jpg"></li>
                    <li class="carousel-element"><img src="img/10.jpg"></li>
                    <li class="carousel-element"><img src="img/11.jpg"></li>
                    <li class="carousel-element"><img src="img/12.jpg"></li>
                    <li class="carousel-element"><img src="img/13.jpg"></li>
                </ul>
           </div>
           <div class="carousel-arrow-right"><span>Вправо</span></div>
     </div> 
 </div>
 <script id="info" type="text/template">
  <% for ( var i = 0; i < members.length; i++ ) { %>
    <li id="<%=members[i].id%>" class="<%=(i % 2 == 1 ? " even" : " odd")%>">
      <%=i+1%>人目 <%=members[i].text%> (from <%=members[i].name%>[ID:<%=members[i].id%>])
    </li>
  <% } %>
</script>

 <div class="wrappers">
     <div class="wrapper-section">
         <div class="section-header">
             <h1>Мурза Кристина Сергеевна</h1>
         <div class="section-header_img">
             <img src="img/miniony_kartinki_na_rabochi_stol_1920x1080.jpg" alt="miniony_kartinki">
         </div>
             <p>Дрессировщик</p>  
         </div>
         <div class="section">
            <h3>Хочу учить фронтенд, потому что ...</h3>
                <ol>
                    <li>Перестали поддаваться дрессировке</li>
                    <li>Хочу в офис</li>
                    <li>там где есть печенько и кофе</li>
                </ol>
         </div>
         <div class="section-info">
             <h3>Мой контактный номер телефона</h3>
                 <nav>+38050 *** ** **</nav>
             <h3>Мой профиль Вконтакте:</h3>
             <a href="http://vk.com/kristinamurza" target="_blank">vc.com</a>
         </div>
         <div class="section-footer">
             <h3>Мой фидбек:</h3>
             <p>А вам не нужен дрессировщик?</p>
         </div>
     </div>
 </div>
</body>
</html>