/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.box_blog_img img {
        left: 10%;
        top: 24%;
        width: 73%;
    }
    
    .post_meta_title {
        left: 6%;
        top: 31%;
    }
    
    .post_meta {
        width: 76%;
    }
    
    .box_blog_info {
        width: auto;
        margin-top: 17%;
        font-size: 83%;
    }
    
    .box_content {
        padding: 0;
        font-size: 70%;
        word-spacing: 0;
    }
    
    .book1 {
        top: 7px;
        left: 3%;
        position: absolute;
    }
    
    .book2 {
        top: 7px;
        left: 11%;
        position: absolute;
    }
    
    .book3 {
        top: 7px;
        left: 19%;
        position: absolute;
    }
    
    .book4 {
        top: 7px;
        left: 27%;
        position: absolute;
    }
    
    .book5 {
        top: 7px;
        left: 35%;
        position: absolute;
    }
    
    .book1 img,
    .book2 img,
    .book3 img,
    .book4 img,
    .book5 img {
        width: 59%;
    }
    
    .my_box_img_left img {
        top: 103em;
    }
    
    .box_content_img1 {
        top: 25px;
        left: 53%;
        position: absolute;
        width: 41%;
    }
    
    .box_content_img2 {
        top: 86px;
        left: 45%;
        position: absolute;
        width: 46%;
    }
    
    .box_content_img3 {
        top: 128px;
        left: 51%;
        position: absolute;
        width: 46%;
    }
    
    .my_box_title {
        top: -32px;
    }
    
    .my_box_img_right img {
        top: 132em;
    }
    
    .my_box_title p {
        width: 79%;
        font-size: 68%;
    }
    
    .my_box_title h1 {
        font-size: 214%;
    }
    
    .my_box {
        height: auto;
    }
    
    .box_usloviy {
        width: auto;
        height: 258px;
    }
    .box_usloviy_title h2 {
    font-size: 155%;
}
    .box_usloviy_title p {
    font-size: 95%;
}
    
    .box_usloviy_title {
        width: 67%;
        left: 5%;
    }
    
    .reclama_info1,
    .reclama_info2,
    .reclama_info3,
    .reclama_info4,
    .reclama_info5,
    .reclama_info6 {
        width: 38%;
        margin-right: 52px;
    }
    
    .reclama_text {
        padding-top: 7px;
    }
    
    .border1,
    .border2 {
        top: -3%;
        left: 104%;
    }
    
    .border2 {
        top: -3%;
        left: 107%;
    }
    
    .border1_2 {
        top: -3%;
        left: 103.5%;
    }
    
    .border2_2 {
        top: -3%;
        left: 107%;
    }
    
    .reclama_info3 {
        margin-left: 36px;
        margin-right: 17px;
    }
    
    .reclama_info5 {
        margin-left: 36px;
        margin-right: 52px;
    }
    
    .border1_3 {
        top: -2%;
        left: 104%;
    }
    
    .border2_3 {
        top: -2%;
        left: 107%;
    }
    
    .border1_4 {
        top: -2%;
        left: 103.5%;
    }
    
    .border2_4 {
        top: -2%;
        left: 107%;
    }
    
    .border1_5 {
        top: 45.7%;
        left: 44.6%;
    }
    
    .border2_5 {
        top: 45.7%;
        left: 45.6%;
    }
    
    .border1_6 {
        top: 45.7%;
        left: 81%;
    }
    
    .border2_6 {
        top: 45.7%;
        left: 82%;
    }
    
    #reclama_info_prodano {
        width: 110%;
    }
    .container {
        padding-left: 0;
        padding-right: 0;
}
    .oformlenie1,
    .oformlenie2 {
        width: 80%;
        margin-left: 0;
    }
    
    .oformlenie3 {
        width: 39%;
    }
    
    .border1_9 {
        top: 11%;
        left: 69.5%;
    }
    
    .border2_9 {
        top: 11%;
        left: 70.5%;
    }
    
    .text {
        font-size: 80%;
    }
    
    .text p>a {
        font-size: 92%;
    }
    
    .work {
        padding-bottom: 20px;
    }
    
    .work_number {
        width: 13%;
    }
    
    .play {
        display: none;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .box_blog_img img {
        left: 10%;
        top: 24%;
        width: 73%;
    }
    
    .post_meta_title {
        left: 6%;
        top: 31%;
    }
    
    .post_meta {
        width: 76%;
    }
    
    .box_blog_info {
        width: auto;
        margin-top: 17%;
        font-size: 83%;
    }
    
    .box_content {
        padding: 0;
        font-size: 70%;
        word-spacing: 0;
    }
    
    .book1 {
        top: 7px;
        left: 3%;
        position: absolute;
    }
    
    .book2 {
        top: 7px;
        left: 11%;
        position: absolute;
    }
    
    .book3 {
        top: 7px;
        left: 19%;
        position: absolute;
    }
    
    .book4 {
        top: 7px;
        left: 27%;
        position: absolute;
    }
    
    .book5 {
        top: 7px;
        left: 35%;
        position: absolute;
    }
    
    .book1 img,
    .book2 img,
    .book3 img,
    .book4 img,
    .book5 img {
        width: 59%;
    }
    
    .my_box_img_left img {
        top: 103em;
    }
    
    .box_content_img1 {
        top: 25px;
        left: 53%;
        position: absolute;
        width: 41%;
    }
    
    .box_content_img2 {
        top: 86px;
        left: 45%;
        position: absolute;
        width: 46%;
    }
    
    .box_content_img3 {
        top: 128px;
        left: 51%;
        position: absolute;
        width: 46%;
    }
    
    .my_box_title {
        top: -32px;
    }
    
    .my_box_img_right img {
        top: 132em;
    }
    
    .my_box_title p {
        width: 79%;
        font-size: 68%;
    }
    
    .my_box_title h1 {
        font-size: 214%;
    }
    
    .my_box {
        height: auto;
    }
    
    .box_usloviy {
        width: auto;
        height: 258px;
    }
    .box_usloviy_title h2 {
    font-size: 155%;
}
    .box_usloviy_title p {
    font-size: 95%;
}
    
    .box_usloviy_title {
        width: 67%;
        left: 5%;
    }
    
    .reclama_info1,
    .reclama_info2,
    .reclama_info3,
    .reclama_info4,
    .reclama_info5,
    .reclama_info6 {
        width: 38%;
        margin-right: 52px;
    }
    
    .reclama_text {
        padding-top: 7px;
    }
    
    .border1,
    .border2 {
        top: -3%;
        left: 104%;
    }
    
    .border2 {
        top: -3%;
        left: 107%;
    }
    
    .border1_2 {
        top: -3%;
        left: 103.5%;
    }
    
    .border2_2 {
        top: -3%;
        left: 107%;
    }
    
    .reclama_info3 {
        margin-left: 36px;
        margin-right: 17px;
    }
    
    .reclama_info5 {
        margin-left: 36px;
        margin-right: 52px;
    }
    
    .border1_3 {
        top: -2%;
        left: 104%;
    }
    
    .border2_3 {
        top: -2%;
        left: 107%;
    }
    
    .border1_4 {
        top: -2%;
        left: 103.5%;
    }
    
    .border2_4 {
        top: -2%;
        left: 107%;
    }
    
    .border1_5 {
        top: 45.7%;
        left: 44.6%;
    }
    
    .border2_5 {
        top: 45.7%;
        left: 45.6%;
    }
    
    .border1_6 {
        top: 45.7%;
        left: 81%;
    }
    
    .border2_6 {
        top: 45.7%;
        left: 82%;
    }
    
    #reclama_info_prodano {
        width: 110%;
    }
    .container {
        padding-left: 0;
        padding-right: 0;
}
    .oformlenie1,
    .oformlenie2 {
        width: 80%;
        margin-left: 0;
    }
    
    .oformlenie3 {
        width: 39%;
    }
    
    .border1_9 {
        top: 11%;
        left: 69.5%;
    }
    
    .border2_9 {
        top: 11%;
        left: 70.5%;
    }
    
    .text {
        font-size: 80%;
    }
    
    .text p>a {
        font-size: 92%;
    }
    
    .work {
        padding-bottom: 20px;
    }
    
    .work_number {
        width: 13%;
    }
    
    .play {
        display: none;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.box_blog_img img {
        left: 10%;
        top: 32%;
    }
    .blog_read_more {
    top: 33em;
    left: 44%;
}
    
    .post_meta_title {
        left: 10%;
        top: 37%;
        font-size: 214%;
    }
    .box_detali {
        height: auto;
    }
    .detali {
        
    width: 100%;
    }
    .post_meta {
        width: 76%;
    }
    
    .box_blog_info {
        width: auto;
        margin-top: 8%;
        font-size: 70%;
        line-height: 25px;
    }
    
    .box_content {
        padding: 0;
        width: 100%;
        padding-left: 0;
        line-height: 26px;
    }
    
    .book1 {
        top: 7px;
        left: 3%;
        position: absolute;
    }
    
    .book2 {
        top: 7px;
        left: 11%;
        position: absolute;
    }
    
    .book3 {
        top: 7px;
        left: 19%;
        position: absolute;
    }
    
    .book4 {
        top: 7px;
        left: 27%;
        position: absolute;
    }
    
    .book5 {
        top: 7px;
        left: 35%;
        position: absolute;
    }
    
    .book1 img,
    .book2 img,
    .book3 img,
    .book4 img,
    .book5 img {
        width: 59%;
    }
    
    .my_box_img_left img {
        top: 99em;
        left: 0;
    }
    
    .box_content_img1 {
        top: 17px;
        left: 52%;
        position: absolute;
        width: 41%;
    }
    
    .box_content_img2 {
        top: 61px;
        left: 49%;
        position: absolute;
        width: 46%;
    }
    
    .box_content_img3 {
        top: 105px;
        left: 51%;
        position: absolute;
        width: 46%;
    }
    
    .my_box_title {
        top: -32px;
    }
    
    .my_box_img_right img {
        top: 125em;
    }
    
    .my_box_title p {
        width: 79%;
        font-size: 76%;
        line-height: 19px;
    }
    
    .my_box_title h1 {
        font-size: 214%;
    }
    
    .my_box {
        height: auto;
    }
    
    .box_usloviy {
        width: auto;
        height: 200px;
    }
    .box_usloviy_title h2 {
    font-size: 140%;
}
    .box_usloviy_title p {
    font-size: 71%;
    width: 81%;
    margin: 0 auto;
}
    
    .box_usloviy_title {
        width: 81%;
        left: 0%;
        top: 62px;
    }
    
    .reclama_info1,
    .reclama_info2,
    .reclama_info3,
    .reclama_info4,
    .reclama_info5,
    .reclama_info6 {
        width: 60%;
        margin-right: 0;
        /*! margin: 0 auto; */
        margin-left: 18%;
    }
    .reclama_info4{
        
    margin-right: 0;
    }
    
    .reclama_text {
        padding-top: 0;
        font-size: 82%;
    }
    
    .border1,
    .border2 {
        top: -3%;
        left: 104%;
    }
    
    .border2 {
        top: -3%;
        left: 107%;
    }
    
    .border1_2 {
        top: -3%;
        left: 103.5%;
    }
    
    .border2_2 {
        top: -3%;
        left: 107%;
    }
    
    .reclama_info3 {
        margin-left: 18%;
        margin-right: 0;
    }
    
    .reclama_info5 {
        margin-left: 18%;
        margin-right: 27px;
    }
    
    .border1_3 {
        top: -2%;
        left: 104%;
    }
    
    .border2_3 {
        top: -2%;
        left: 107%;
    }
    
    .border1_4 {
        top: -2%;
        left: 103.5%;
    }
    
    .border2_4 {
        top: -2%;
        left: 107%;
    }
    
    .border1_5 {
        top: 46.7%;
        left: 72%;
    }
    
    .border2_5 {
        top: 46.7%;
        left: 73.5%;
    }
    
    .border1_6 {
        top: 56.2%;
        left: 72%;
    }
    
    .border2_6 {
        top: 56.2%;
        left: 73.5%;
    }
    
    #reclama_info_prodano {
        width: 110%;
    }
    .container {
        padding-left: 0;
        padding-right: 0;
}
    .oformlenie_text {
        
    padding-top: 10px;
    }
    .reclama_info6 p {
    font-size: 82%;
}
    .oformlenie_info {
        
    width: 78%;
    margin: 0 auto;
    margin-bottom: 14px;
    margin-left: 7%;
    }
    .oformlenie1,
    .oformlenie2 {
        width: 100%;
        margin-left: 0;
    }
    
    .oformlenie3 {
        width: 83%;
    }
    
    .border1_9 {
        top: 11%;
        left: 89%;
    }
    
    .border2_9 {
        top: 11%;
        left: 90.5%;
    }
    
    .text {
        font-size: 87%;
        letter-spacing: -1px;
    }
    
    .text p>a {
        font-size: 92%;
    }
    
    .work {
        padding-bottom: 20px;
    }
    
    .work_number {
        width: 21%;
    }
    
    .play {
        display: none;
    }
    p.footer_text {
        
    width: 94%;
    }
    p.footer_text_aftor {
        
    width: 41%;
    }
    .row {
        margin: 0;
    }
}

@media only screen and (max-width : 620px) {
.box_blog_img img {
        left: 10%;
        top: 44%;
    }
    .blog_read_more {
    top: 27em;
    left: 44%;
}
    
    .post_meta_title {
        left: 10%;
        top: 47%;
        font-size: 194%;
    }
    .box_detali {
        height: auto;
    }
    .detali {
        
    width: 100%;
    }
    .post_meta {
        width: 76%;
    }
    
    .box_blog_info {
        width: auto;
        margin-top: 8%;
        font-size: 70%;
        line-height: 25px;
    }
    
    .box_content {
        padding: 0;
        width: 100%;
        padding-left: 0;
        line-height: 26px;
    }
    
    .book1 {
        top: 7px;
        left: 3%;
        position: absolute;
    }
    
    .book2 {
        top: 7px;
        left: 11%;
        position: absolute;
    }
    
    .book3 {
        top: 7px;
        left: 19%;
        position: absolute;
    }
    
    .book4 {
        top: 7px;
        left: 27%;
        position: absolute;
    }
    
    .book5 {
        top: 7px;
        left: 35%;
        position: absolute;
    }
    
    .book1 img,
    .book2 img,
    .book3 img,
    .book4 img,
    .book5 img {
        width: 59%;
    }
    
    .my_box_img_left img {
        top: 99em;
        left: 0;
    }
    
    .box_content_img1 {
        top: 17px;
        left: 52%;
        position: absolute;
        width: 41%;
    }
    
    .box_content_img2 {
        top: 61px;
        left: 49%;
        position: absolute;
        width: 46%;
    }
    
    .box_content_img3 {
        top: 105px;
        left: 51%;
        position: absolute;
        width: 46%;
    }
    
    .my_box_title {
        top: -32px;
    }
    
    .my_box_img_right img {
        top: 125em;
    }
    
    .my_box_title p {
        width: 79%;
        font-size: 76%;
        line-height: 19px;
    }
    
    .my_box_title h1 {
        font-size: 214%;
    }
    
    .my_box {
        height: auto;
    }
    
    .box_usloviy {
        width: auto;
        height: 200px;
    }
    .box_usloviy_title h2 {
    font-size: 140%;
}
    .box_usloviy_title p {
    font-size: 71%;
    width: 81%;
    margin: 0 auto;
}
    
    .box_usloviy_title {
        width: 81%;
        left: 0%;
        top: 62px;
    }
    
    .reclama_info1,
    .reclama_info2,
    .reclama_info3,
    .reclama_info4,
    .reclama_info5,
    .reclama_info6 {
        width: 60%;
        margin-right: 0;
        /*! margin: 0 auto; */
        margin-left: 18%;
    }
    .reclama_info4{
        
    margin-right: 0;
    }
    
    .reclama_text {
        padding-top: 0;
        font-size: 82%;
    }
    
    .border1,
    .border2 {
        top: -3%;
        left: 104%;
    }
    
    .border2 {
        top: -3%;
        left: 107%;
    }
    
    .border1_2 {
        top: -3%;
        left: 103.5%;
    }
    
    .border2_2 {
        top: -3%;
        left: 107%;
    }
    
    .reclama_info3 {
        margin-left: 18%;
        margin-right: 0;
    }
    
    .reclama_info5 {
        margin-left: 18%;
        margin-right: 27px;
    }
    
    .border1_3 {
        top: -2%;
        left: 104%;
    }
    
    .border2_3 {
        top: -2%;
        left: 107%;
    }
    
    .border1_4 {
        top: -2%;
        left: 103.5%;
    }
    
    .border2_4 {
        top: -2%;
        left: 107%;
    }
    
    .border1_5 {
        top: 46.7%;
        left: 72%;
    }
    
    .border2_5 {
        top: 46.7%;
        left: 73.5%;
    }
    
    .border1_6 {
        top: 56.2%;
        left: 72%;
    }
    
    .border2_6 {
        top: 56.2%;
        left: 73.5%;
    }
    
    #reclama_info_prodano {
        width: 110%;
    }
    .container {
        padding-left: 0;
        padding-right: 0;
}
    .oformlenie_text {
        
    padding-top: 10px;
    }
    .reclama_info6 p {
    font-size: 82%;
}
    .oformlenie_info {
        
    width: 78%;
    margin: 0 auto;
    margin-bottom: 14px;
    margin-left: 7%;
    }
    .oformlenie1,
    .oformlenie2 {
        width: 100%;
        margin-left: 0;
    }
    
    .oformlenie3 {
        width: 83%;
    }
    
    .border1_9 {
        top: 11%;
        left: 89%;
    }
    
    .border2_9 {
        top: 11%;
        left: 90.5%;
    }
    
    .text {
        font-size: 87%;
        letter-spacing: -1px;
    }
    
    .text p>a {
        font-size: 92%;
    }
    
    .work {
        padding-bottom: 20px;
    }
    
    .work_number {
        width: 21%;
    }
    
    .play {
        display: none;
    }
    p.footer_text {
        
    width: 94%;
    }
    p.footer_text_aftor {
        
    width: 41%;
    }
    .row {
        margin: 0;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 530px) {
    .post_meta_title {
        font-size: 218%;
        top: 41%;
        left: 30px;
    }
    
    .post_meta_title span {
        font-size: 158%;
        letter-spacing: 0;
        padding: 0;
    }
    
    .box_blog_img img {
        top: 37%;
        left: 10%;
    }
    
    .post_meta {
        width: 100%;
    }
    
    .blog_read_more {
display: none;
    }
    
    .box_blog_info {
        font-size: 77%;
        letter-spacing: 0;
        word-spacing: 0;
        line-height: 27px;
    }
    
    .box_content {
        width: 100%;
        letter-spacing: 1px;
        line-height: 25px;
    }
    
    .book {
        position: relative;
        top: 309px;
        left: -173px;
    }
    
    .book1 {
        left: 47%;
        top: -301px;
    }
    
    .book2 {
        left: 59%;
        position: relative;
        top: -300px;
    }
    
    .book3 {
        left: 49%;
        position: relative;
        top: -300px;
    }
    
    .book4 {
        left: 38%;
        position: relative;
        top: -300px;
    }
    
    .book5 {
        left: 27%;
        position: relative;
        top: -300px;
    }
    
    .book6 {
        left: 73%;
        position: relative;
    }
    
    .box_soc_seti {
display: none;
    }
    
    .box_content_img1 {
        width: 64%;
        top: -106px;
        left: 134px;
    }
    
    .box_content_img2 {
        width: 66%;
        top: -74px;
        left: 101px;
    }
    
    .box_content_img3 {
        width: 71%;
        top: -51px;
        left: 152px;
    }
    
    .my_box_title h1 {
        font-size: 150%;
    }
    
    .my_box_read_more {
        top: -10px;
    }
    
    .my_box_title p {
        width: 87%;
        font-size: 63%;
        letter-spacing: 0;
        word-spacing: 0;
        padding-top: 23px;
        line-height: 30px;
        padding-left: 25px;
    }
    
    .my_box_img_left img {
        width: 143px;
        left: 0;
    }
    
    .my_box_img_right img {
        width: 42%;
        top: 127em;
        left: 56%;
    }
    
    .box_info_title h1 {
        font-size: 147%;
    }
    
    .box_info_read_more {
        top: 4px;
        left: 47%;
    }
    
    .box_detali {
        height: auto;
    }
    
    .detali {
        width: 100%;
        margin: 0 auto;
    }
    
    .box_usloviy {
        height: 153px;
    }
    
    .box_usloviy_title {
        width: 60%;
        top: 50px;
        left: 53px;
    }
    
    .box_usloviy_title h2 {
        font-size: 104%;
        word-spacing: 4px;
    }
    
    .box_usloviy_title p {
        font-size: 56%;
        line-height: 10px;
    }
    .box_reclama {
}
    
    .box_reclama h1 {
        font-size: 191%;
    }
    
    .box_reclama_read_more {
        left: 43%;
    }
    
    .box_reclama h2 {
        font-size: 130%;
    }
    
    .reclama_info1,
    .reclama_info2,
    .reclama_info3,
    .reclama_info4,
    .reclama_info5,
    .reclama_info6 {
        width: 91%;
        margin-right: 0;
        margin-left: 0;
    }
    
    .border1_5 {
        top: 45.6%;
        left: 83%;
    }
    
    .border2_5 {
        top: 45.6%;
        left: 85.6%;
    }
    
    .border1_6 {
        top: 55.2%;
        left: 82.7%;
    }
    
    .border2_6 {
        top: 55.2%;
        left: 84.6%;
    }
    
    .oformlenie_info {
        width: 100%;
        margin-bottom: 25px;
        margin-left: 0;
    }
    
    .oformlenie_text {
        padding-top: 11px;
        font-size: 86%;
    }
    
    .oformlenie3 {
        width: 111%;
    }
    
    .border1_9 {
        top: 11%;
        left: 108%;
    }
    
    .border2_9 {
        top: 11%;
        left: 110%;
    }
    
    .work_number {
        width: 20%;
    }
    
    .footer_read_more {
        left: 45%;
    }
    
    p.footer_text {
        width: 100%;
        font-size: 99%;
        line-height: 17px;
    }
    
    p.footer_text_aftor {
        width: 62%;
    }
    
    .soc_betton_footer {
        padding-top: 12px;
    }
    
    .contacts_footer {
        padding-top: 25px;
    }
    
    .work_read_more {
        left: 45%;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .post_meta_title {
        font-size: 174%;
        top: 48%;
        left: 34px;
    }
    
    .post_meta_title span {
        font-size: 158%;
        letter-spacing: 0;
        padding: 0;
    }
    
    .box_blog_img img {
        top: 43%;
        left: 11%;
    }
    
    .post_meta {
        width: 100%;
    }
    
    .blog_read_more {
        top: 26em;
        left: 44%;
    }
    
    .box_blog_info {
        font-size: 77%;
        letter-spacing: 0;
        word-spacing: 0;
        line-height: 18px;
    }
    
    .box_content {
        width: 100%;
        letter-spacing: 0;
        line-height: 31px;
    }
    
    .book {
        position: relative;
        top: 309px;
        left: -173px;
    }
    
    .book1 {
        left: 51%;
    }
    
    .book2 {
        left: 66%;
        position: relative;
    }
    
    .book3 {
        left: 52%;
        position: relative;
        top: -299px;
    }
    
    .book4 {
        left: 39%;
        position: relative;
        top: -298px;
    }
    
    .book5 {
        left: 80%;
        position: relative;
        top: -391px;
    }
    
    .book6 {
        left: 73%;
        position: relative;
    }
    
    .box_soc_seti {
        top: 235px;
        position: relative;
        left: -82px;
    }
    
    .box_content_img1 {
        width: 64%;
        top: -106px;
        left: 134px;
    }
    
    .box_content_img2 {
        width: 66%;
        top: -74px;
        left: 101px;
    }
    
    .box_content_img3 {
        width: 71%;
        top: -51px;
        left: 152px;
    }
    
    .my_box_title h1 {
        font-size: 150%;
    }
    
    .my_box_read_more {
        top: -10px;
    }
    
    .my_box_title p {
        width: 87%;
        font-size: 63%;
        letter-spacing: 0;
        word-spacing: 0;
        padding-top: 23px;
        line-height: 16px;
        padding-left: 25px;
    }
    
    .my_box_img_left img {
        width: 143px;
        left: 0;
    }
    
    .my_box_img_right img {
        width: 42%;
        top: 127em;
        left: 56%;
    }
    
    .box_info_title h1 {
        font-size: 147%;
    }
    
    .box_info_read_more {
        top: 4px;
        left: 44%;
    }
    
    .box_detali {
        height: auto;
    }
    
    .detali {
        width: 100%;
        margin: 0 auto;
    }
    .box_detali_read_more {
    left: 42%;
}
    
    .box_usloviy {
        height: 136px;
    }
    
    .box_usloviy_title {
        width: 66%;
        top: 43px;
        left: 40px;
    }
    
    .box_usloviy_title h2 {
        font-size: 85%;
        word-spacing: 4px;
    }
    
    .box_usloviy_title p {
        font-size: 55%;
        line-height: 7px;
    }
    
    .box_reclama h1 {
        font-size: 191%;
    }
    
    .box_reclama_read_more {
        left: 42%;
    }
    
    .box_reclama h2 {
        font-size: 130%;
    }
    
    .reclama_info1,
    .reclama_info2,
    .reclama_info3,
    .reclama_info4,
    .reclama_info5,
    .reclama_info6 {
        width: 91%;
        margin-right: 0;
        margin-left: 0;
    }
    
    .border1_5 {
        top: 44.9%;
        left: 82.6%;
    }
    
    .border2_5 {
        top: 44.9%;
        left: 84.6%;
    }
    
    .border1_6 {
        top: 54.3%;
        left: 82.6%;
    }
    
    .border2_6 {
        top: 54.3%;
        left: 84.6%;
    }
    
    .oformlenie_info {
        width: 100%;
        margin-bottom: 25px;
    }
    
    .oformlenie_text {
        padding-top: 11px;
        font-size: 86%;
    }
    
    .oformlenie3 {
        width: 111%;
    }
    
    .border1_9 {
        top: 11%;
        left: 107%;
    }
    
    .border2_9 {
        top: 11%;
        left: 110%;
    }
    
    .work_number {
        width: 31%;
    }
    
    .footer_read_more {
        left: 131px;
    }
    
    p.footer_text {
        width: 100%;
        font-size: 99%;
        line-height: 17px;
    }
    
    p.footer_text_aftor {
        width: 62%;
    }
    
    .soc_betton_footer {
        padding-top: 12px;
    }
    
    .contacts_footer {
        padding-top: 25px;
    }
    
    .work_read_more {
        left: 40%;
    }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 420px) {
    
    .contacts_head {
        
    padding: 0;
    }
    .box_blog {
        
    height: 532px;
    }
    .post_meta_title {
        font-size: 131%;
        top: 35%;
        left: 5%;
    }
    
    .post_meta_title span {
        font-size: 158%;
        letter-spacing: 0;
        padding: 0;
    }
    h2.post_title {
        
    font-size: 106%;
    }
    h2.post_title a {
        font-size: 106%;
    }
    .box_blog_img img {
        top: 28%;
        left: -3%;
        width: 99%;
    }
    
    .post_meta {
        width: 100%;
        font-size: 100%;
    }
    
    .blog_read_more {
        top: 26em;
        left: 44%;
    }
    
    .box_blog_info {
        font-size: 77%;
        letter-spacing: 0;
        word-spacing: 0;
        line-height: 18px;
    }
    
    .box_content {
        width: 100%;
        letter-spacing: 0;
        line-height: 29px;
    }
    
    .book {
display: none;
    }
    
    .book1 {
        left: 51%;
    }
    
    .book2 {
        left: 66%;
        position: relative;
    }
    
    .book3 {
        left: 52%;
        position: relative;
        top: -299px;
    }
    
    .book4 {
        left: 39%;
        position: relative;
        top: -298px;
    }
    
    .book5 {
        left: 80%;
        position: relative;
        top: -391px;
    }
    
    .book6 {
        left: 73%;
        position: relative;
    }
    
    .box_soc_seti {
        top: 235px;
        position: relative;
        left: -82px;
    }
    
    .box_content_img1 {
        width: 64%;
        top: -106px;
        left: 134px;
    }
    
    .box_content_img2 {
        width: 66%;
        top: -74px;
        left: 101px;
    }
    
    .box_content_img3 {
        width: 71%;
        top: -51px;
        left: 152px;
    }
    
    .my_box_title h1 {
        font-size: 150%;
    }
    
    .my_box_read_more {
        top: -10px;
    }
    
    .my_box_title p {
        width: 87%;
        font-size: 63%;
        letter-spacing: 0;
        word-spacing: 0;
        padding-top: 23px;
        line-height: 16px;
        padding-left: 25px;
    }
    
    .my_box_img_left img {
        width: 143px;
        left: 0;
        top: 88em;
    }
    
    .my_box_img_right img {
        width: 42%;
        top: 117em;
        left: 56%;
    }
    
    .box_info_title h1 {
        font-size: 138%;
    }
    .box_info_title_text h2 {
        
    font-size: 135%;
    }
    .box_info_title_text p {
        
    font-size: 83%;
    }
    .box_info_read_more {
        top: 4px;
        left: 44%;
    }
    
    .box_detali {
        height: auto;
    }
    
    .detali {
        width: 100%;
        margin: 0 auto;
    }
    .box_detali_read_more {
    left: 42%;
}
    
    .box_usloviy {
        height: 136px;
    }
    
    .box_usloviy_title {
        width: 82%;
        top: 50px;
        left: -1%;
    }
    
    .box_usloviy_title h2 {
        font-size: 85%;
        word-spacing: 4px;
    }
    
    .box_usloviy_title p {
        font-size: 55%;
        line-height: 7px;
    }
    
    .box_reclama h1 {
        font-size: 191%;
    }
    
    .box_reclama_read_more {
        left: 42%;
    }
    
    .box_reclama h2 {
        font-size: 130%;
    }
    
    .reclama_info1,
    .reclama_info2,
    .reclama_info3,
    .reclama_info4,
    .reclama_info5,
    .reclama_info6 {
        width: 91%;
        margin-right: 0;
        margin-left: 0;
    }
    
    .border1_5 {
        top: 44.9%;
        left: 82.6%;
    }
    
    .border2_5 {
        top: 44.9%;
        left: 84.6%;
    }
    
    .border1_6 {
        top: 54.3%;
        left: 82.6%;
    }
    
    .border2_6 {
        top: 54.3%;
        left: 84.6%;
    }
    
    .oformlenie_info {
        width: 100%;
        margin-bottom: 25px;
    }
    
    .oformlenie_text {
        padding-top: 11px;
        font-size: 86%;
    }
    
    .oformlenie3 {
        width: 111%;
    }
    
    .border1_9 {
        top: 11%;
        left: 107%;
    }
    
    .border2_9 {
        top: 11%;
        left: 110%;
    }
    
    .work_number {
        width: 31%;
    }
    
    .footer_read_more {
        left: 131px;
    }
    
    p.footer_text {
        width: 100%;
        font-size: 99%;
        line-height: 17px;
    }
    
    p.footer_text_aftor {
        width: 62%;
    }
    
    .soc_betton_footer {
        padding-top: 12px;
    }
    
    .contacts_footer {
        padding-top: 25px;
    }
    
    .work_read_more {
        left: 40%;
    }
}
@media only screen and (max-width : 380px) {
    
    .contacts_head {
        
    padding: 0;
    }
    .box_blog {
        
    height: 532px;
    }
    .post_meta_title {
        font-size: 131%;
        top: 35%;
        left: 5%;
    }
    
    .post_meta_title span {
        font-size: 158%;
        letter-spacing: 0;
        padding: 0;
    }
    h2.post_title {
        
    font-size: 106%;
    }
    h2.post_title a {
        font-size: 106%;
    }
    .box_blog_img img {
        top: 28%;
        left: -3%;
        width: 99%;
    }
    
    .post_meta {
        width: 100%;
        font-size: 100%;
    }
    
    .blog_read_more {
        top: 26em;
        left: 44%;
    }
    
    .box_blog_info {
        font-size: 77%;
        letter-spacing: 0;
        word-spacing: 0;
        line-height: 18px;
    }
    
    .box_content {
        width: 100%;
        letter-spacing: 0;
        line-height: 29px;
    }
    
    .book {
display: none;
    }
    
    .book1 {
        left: 51%;
    }
    
    .book2 {
        left: 66%;
        position: relative;
    }
    
    .book3 {
        left: 52%;
        position: relative;
        top: -299px;
    }
    
    .book4 {
        left: 39%;
        position: relative;
        top: -298px;
    }
    
    .book5 {
        left: 80%;
        position: relative;
        top: -391px;
    }
    
    .book6 {
        left: 73%;
        position: relative;
    }
    
    .box_soc_seti {
        top: 235px;
        position: relative;
        left: -82px;
    }
    
    .box_content_img1 {
        width: 64%;
        top: -106px;
        left: 134px;
    }
    
    .box_content_img2 {
        width: 66%;
        top: -74px;
        left: 101px;
    }
    
    .box_content_img3 {
        width: 71%;
        top: -51px;
        left: 152px;
    }
    
    .my_box_title h1 {
        font-size: 150%;
    }
    
    .my_box_read_more {
        top: -10px;
    }
    
    .my_box_title p {
        width: 87%;
        font-size: 63%;
        letter-spacing: 0;
        word-spacing: 0;
        padding-top: 23px;
        line-height: 16px;
        padding-left: 25px;
    }
    
    .my_box_img_left img {
        width: 143px;
        left: 0;
        top: 88em;
    }
    
    .my_box_img_right img {
        width: 42%;
        top: 117em;
        left: 56%;
    }
    
    .box_info_title h1 {
        font-size: 138%;
    }
    .box_info_title_text h2 {
        
    font-size: 135%;
    }
    .box_info_title_text p {
        
    font-size: 83%;
    }
    .box_info_read_more {
        top: 4px;
        left: 44%;
    }
    
    .box_detali {
        height: auto;
    }
    
    .detali {
        width: 100%;
        margin: 0 auto;
    }
    .box_detali_read_more {
    left: 42%;
}
    
    .box_usloviy {
        height: 136px;
    }
    
    .box_usloviy_title {
        width: 82%;
        top: 50px;
        left: -1%;
    }
    
    .box_usloviy_title h2 {
        font-size: 85%;
        word-spacing: 4px;
    }
    
    .box_usloviy_title p {
        font-size: 55%;
        line-height: 7px;
    }
    
    .box_reclama h1 {
        font-size: 191%;
    }
    
    .box_reclama_read_more {
        left: 42%;
    }
    
    .box_reclama h2 {
        font-size: 130%;
    }
    
    .reclama_info1,
    .reclama_info2,
    .reclama_info3,
    .reclama_info4,
    .reclama_info5,
    .reclama_info6 {
        width: 91%;
        margin-right: 0;
        margin-left: 0;
    }
    
    .border1_5 {
        top: 44.9%;
        left: 82.6%;
    }
    
    .border2_5 {
        top: 44.9%;
        left: 84.6%;
    }
    
    .border1_6 {
        top: 54.3%;
        left: 82.6%;
    }
    
    .border2_6 {
        top: 54.3%;
        left: 84.6%;
    }
    
    .oformlenie_info {
        width: 100%;
        margin-bottom: 25px;
    }
    
    .oformlenie_text {
        padding-top: 11px;
        font-size: 86%;
    }
    
    .oformlenie3 {
        width: 111%;
    }
    
    .border1_9 {
        top: 11%;
        left: 107%;
    }
    
    .border2_9 {
        top: 11%;
        left: 110%;
    }
    
    .work_number {
        width: 31%;
    }
    
    .footer_read_more {
        left: 131px;
    }
    
    p.footer_text {
        width: 100%;
        font-size: 99%;
        line-height: 17px;
    }
    
    p.footer_text_aftor {
        width: 62%;
    }
    
    .soc_betton_footer {
        padding-top: 12px;
    }
    
    .contacts_footer {
        padding-top: 25px;
    }
    
    .work_read_more {
        left: 40%;
    }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}