@font-face {
    font-family: 'Montserrat Regular';
    src: url('../fonts/montserrat-regular/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/montserrat-bold/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/roboto-regular/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0 auto;
    padding: 0;
}
a, p, h1, h2 {
    text-decoration: none;
    display: block;
    color: #ffffff;
}
.header {
    background-image: url(../images/promo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
}
.wrapper {
    margin: 0 auto;
    width: 62%;
}
.header-logo {
    width: 80%;  
    height: 210px;
    margin: 0 auto;
}
.header-logo_text {
    font-size: 20px;
    font-family: 'Montserrat Bold', sans-serif;
    letter-spacing: 1px;
    width: 42%;
    text-align: left;
    float: left;
    padding-top: 48px;
}
.authorization {
    width: 58%;
    height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.authorization_log {
    width: 11%;
    padding-bottom: 12px;
    font-size: 14px;
    font-family: 'Montserrat Bold', sans-serif;
}
.authorization_sign {
    width: 16.5%;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 20px 20px;
    height: 25px;
    padding-top: 8px;
    font-size: 14px;
    font-family: 'Montserrat Bold', sans-serif;
}
.wrapper-section {
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 300px;
    justify-content: center;
}
.wrapper-section_header__text {
    width: 55%;
    height: 107px;
}
.wrapper-section_text {
    height: 155px;
    margin: 0 auto;
    width: 55%;
}
.section_title {
    /*! width: 100%; */
    font-size: 52px;
    font-family: 'Montserrat Bold', sans-serif;
    text-align: center;
    text-transform: uppercase;
    line-height: 66px;
}
.section_subtitle {
    font-size: 23px;
    font-family: 'Roboto Regular', sans-serif;
    text-align: center;
    width: 100%;
    height: 46px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.button {
    width: 43%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    background-color: rgba(255, 78, 80, 1);
    height: 28px;
    border-radius: 22px;
    padding-top: 12px;
    font-family: 'Montserrat Bold', sans-serif;
}

/*-------------SLIDER-------------------*/

.wrapper-section_slider__text {
    
    height: 155px;
    width: 31%;
    margin: 0 auto;
}
.wrapper-section_text__title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 22px;
    font-family: 'Montserrat Bold', sans-serif;
    color: #333333;
    height: 118px;
}
.wrapper-section_slider {
    height: 400px;
    margin: 0 auto;
    width: 90%;
}
.section_slider1__img {
    position: relative;
    top: 40%;
    left: 10%;
    width: 80%;
}
.slider-container__navigation--left {
  position: absolute;
  top: 50%;
  left: 0px;
  /*!  */
  /*! width: 27px; */
  /*! height: 46px; */
  cursor: pointer;
  /*! opacity: 0.5; */
  float: left;
}
.section_slider2__img {
    position: relative;
    top: 153px;
    left: 8%;
    width: 87%;
}
.section_slider3__img {
    position: relative;
    top: 38%;
    left: 8%;
    width: 87%;
}
.slider-container__navigation--right {
    float: right;
    cursor: pointer;
}
.slider {
  float: left;
  width: 30.33%;
  height: 400px;
  box-sizing: border-box;
  /*! margin-left: 1%; */
  /*! margin-right: 1%; */
  /*! margin-bottom: 10px; */
  border-radius: 10px;
  overflow: hidden;
}
.slider-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.slider-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
}

.slider-container ul li {
  float: left;
  display: block;
  height: 100%;
  position: relative;
}

.slider-container ul li div {
  position: absolute;
  padding: 15px;
  bottom: 0px;
  color: white;
  text-align: left;
}


#slider2 {
    /*! width: 19em; */
    /*! margin-left: 16px; */
}
#slider3 {
    /*! background-image: url(../images/slid3.png); */
    /*! background-repeat: no-repeat; */
    /*! width: 19em; */
    /*! float: left; */
    /*! height: 400px; */
    /*! margin-left: 14px; */
}
.section_slider_text {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: flex-end;
    width: 265px;
}
.slider_button {
    width: 27%;
    text-align: center;
    background-color: #ff4e50;
    border-radius: 10px;
    height: 15px;
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'Montserrat Regular', sans-serif;
    padding-top: 5px;
    /*! white-space: pre; */
    letter-spacing: 2px;
}
.slider_title {
    font-size: 24px;
    font-family: 'Montserrat Regular', sans-serif;
    text-align: left;
    line-height: 29px;
    padding-top: 17px;
    font-weight: 600;
    padding-bottom: 11px;
}
.slider_subtitle {
    font-size: 14px;
    font-family: 'Roboto Regular', sans-serif;
    color: #aeacab;
    height: auto;
    line-height: 16px;
}

/*---------------PARTNER------------*/

.section-info {
    width: 84%;
    margin: 0 auto;
    height: 270px;
}
/*_______BREADLEY_____*/
.section-info__bradley {
    background-image: url(../images/Partner4.png);
    background-repeat: no-repeat;
    background-position: top;
    width: 27%;
    height: 200px;
    float: left;
}
.section-info__img1 {
    position: relative;
    top: 84px;
    left: 60%;
}
.section-info__bradley__text {
    height: 158px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.section-info_text {
    color: #333333;
    height: 28px;
    font-size: 14px;
    font-family: 'Montserrat Regular', sans-serif;
}
.section-info_text__title {
    color: #8f8f8f;
    font-size: 14px;
    font-family: 'Roboto Regular', sans-serif;
    line-height: 17px;
    padding-left: 4px;
    text-align: center;
}
/*__________HEATHER______*/
.section-info__heather {
    background-image: url(../images/Partner3.png);
    background-position: top;
    background-repeat: no-repeat;
    width: 22%;
    float: left;
}
.section-info__heather__text {
    height: 158px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.section-info__img2 {
    position: relative;
    left: 61%;
    top: 84px;
}

/*_______LUCAS______*/
.section-info__lucas2 {
    display: none;
}
.section-info__lucas {
    background-image: url(../images/Partner2.png);
    background-position: top;
    background-repeat: no-repeat;
    width: 27%;
    height: 218px;
    float: left;
}
.section-info__lucas__text {
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.section-info__img4 {
    position: relative;
    top: 84px;
    left: 63%;
}
/*__________BREADLEY2_____*/
.section-info__bradley2 {
    background-image: url(../images/Partner1.png);
    background-position: top;
    background-repeat: no-repeat;
    width: 21%;
    height: 200px;
    float: left;
}
.section-info__bradley2__text {
    height: 158px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.section-info__img3 {
    position: relative;
    top: 84px;
    left: 58%;
}
.section-info_button {
    width: 15.9%;
    margin: 0 auto;
    border: 2px solid #ff4e50;
    height: 37px;
    border-radius: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-info_button a{
    height: 38px;
    color: #ff4e50;
    padding-top: 11px;
    font-size: 14px;
    font-family: 'Montserrat Regular', sans-serif;
}

/*-------------DISCOVER----------*/

#grid {
    width: 85%;
    margin: 0px auto;
    height: auto;
}
.item {
    float: left;
    height: 330px;
    padding-left: 2.6%;
}
.item-widht__img1__tablet, .item-widht__img2__tablet,
.item-widht__img3__tablet, .item-widht__img4__tablet,
.item-widht__img5__tablet, .item-widht__img6__tablet,
.item-widht__img7__tablet {
    display: none;
}
.item-widht__img1__mobile, .item-widht__img2__mobile,
.item-widht__img3__mobile, .item-widht__img4__mobile,
.item-widht__img5__mobile, .item-widht__img6__mobile,
.item-widht__img7__mobile {
    display: none;
}
.item-title__text1 {
    position: absolute;
    top: 91.9em;
    left: 19%;
    font-size: 22px;
    font-family: 'Montserrat Regular', sans-serif;
}
.item-title__text2 {
    position: absolute;
    top: 91.9em;
    left: 42%;
    font-size: 22px;
    font-family: 'Montserrat Regular', sans-serif;
}
.item-title__text3 {
    position: absolute;
    top: 91em;
    left: 67.2%;
    font-size: 22px;
    font-family: 'Montserrat Regular', sans-serif;
    width: 14%;
    line-height: 27px;
}
.item-title__text4 {
    position: absolute;
    top: 106.9em;
    left: 23.5%;
    font-size: 22px;
    font-family: 'Montserrat Regular', sans-serif;
}
.item-title__text5 {
    position: absolute;
    top: 106.9em;
    left: 53%;
    font-size: 22px;
    font-family: 'Montserrat Regular', sans-serif;
}
.item-title__text6 {
    position: absolute;
    top: 121.9em;
    left: 34%;
    font-size: 22px;
    font-family: 'Montserrat Regular', sans-serif;
}
.item-title__text7 {
    position: absolute;
    top: 121.9em;
    left: 70%;
    font-size: 22px;
    font-family: 'Montserrat Regular', sans-serif;
}

/*------------------------------------------*/

.section_text { 
    width: 80%;
    margin: 0 auto;
    height: 99px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.wrapper-section_text__title___title {
    font-size: 18px;
    font-family: 'Roboto Regular', sans-serif;
    color: #696969;
    text-align: center;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: -1px;
}
.form-submit {
    height: 140px;
}
form {
    width: 35%;
    margin: 0 auto;
    height: 41px;
    margin-top: 5px;
    text-align: center;
    display: flex;

    flex-direction: row;
    justify-content: space-around;
    align-items: initial;
}
.text {
    width: 54%;
    padding: 0 16px;
    font-size: 14px;
    border: 1px solid #cccccc;
    font-family: 'Roboto Regular', sans-serif;
    color: #b4b4b4;
}
#submit {
    width: 42%;
    margin-left: 11px;
    border-radius: 20px 20px;
    background-color: rgba(255, 78, 80, 1);
    border: 0;
    font-size: 14px;
    font-family: 'Montserrat Regular', sans-serif;
    color: #ffffff;
    cursor: pointer;
}
#submit:focus {
    outline: none;
}

footer {
    height: 203px;
    border-top: 4px solid #ff4e50;
    width: 100%;
}
.footer-logo_text {
    float: left;
    width: 33%;
    overflow: hidden;
}
.footer-logo_text__title {
    height: 55px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.footer-logo_text a {
    font-size: 16px;
    font-family: 'Montserrat Regular', sans-serif;
    letter-spacing: 1px;
    color: #ff4e50;
}
.footer-company {
    width: 13.4%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    line-height: 25px;
    float: left;
}
.company {
    width: 27%;
    height: 27px;
    font-size: 14px;
    font-family: 'Montserrat Regular', sans-serif;
    color: #333333;
}
.company_info {
    text-align: left;
    width: 26%;
}
.company_text {
    font-size: 14px;
    font-family: 'Roboto Regular', sans-serif;
    color: #666666;
}
.footer-partners {
    width: 11.6%;
    height: 52px;
    float: left;
    display: flex;
    align-items: flex-end;
}
.partners {
    font-size: 14px;
    font-family: 'Montserrat Regular', sans-serif;
    color: #333333;
}
.footer-logo {
    background-image: url(../images/footer-logo.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 98%;
    width: 16.8%;
    height: 83px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logo_text {
    font-size: 10px;
    font-family: 'Montserrat Regular', sans-serif;
    color: #cccccc;
    width: 36%;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: right;
    padding-top: 4px;
}
@media screen and (max-width: 1280px) {

    .wrapper {
        width: 95%;
        margin: 0 auto;
    }
    .header-logo {     
        width: 82%;
    }
    .wrapper-section { 
        width: 75%;
        margin: 0 auto;
    }
    .wrapper-section_text {
       width: 70%;
    }
    .section_title {  
       /*! width: 95%; */
    }
    .button {
        width: 47%;
    }
/*-----------SLIDER--------------*/
    .wrapper-section_slider {
        width: 82%;
        padding-left: 0;
        display: flex;
        justify-content: space-around;
    }
    .section_slider1__img {
        left: 8%;
    }
    .section_slider2__img {
         left: 7%;   
    }
    .section_slider3__img {
        left: 8%;
        width: 85%;
    }
    .slider-container__navigation--right { 
       /*! padding: 0; */
       /*! padding-left: 68%; */
    }
/*---------------INFO--------------*/
    .section-info_text {  
        height: 17px;
    }
    .section-info__bradley {
        height: 194px;
    }
    .section-info__heather {
        height: 197px;
    }
    .section-info__lucas2 {
        display: none;
    }
     .section-info__lucas {
        height: 247px;
    }
    .section-info_text__title__lucas {  
       height: 34%;
    }
    .section-info__bradley2 {
        height: 195px;
    }
    .section-info__img1 {
        left: 60%;
    }
    .section-info__img2 {
        left: 61%;
    }
    .section-info__img3 {
        left: 58%;
        top: 82px;
    }
    .section-info__img4 {
        left: 61%;
    }
    .section-info {
        width: 86%;
    }
    .section-info_button{
        width: 16%;
    }
/*-----------Box----------------------*/
    #grid {
        width: 85%;
        height: auto;
    }
    .item {
        height: auto;
        padding: 0;
    }
    .item-widht1 {  
        width: 33%;
        text-align: center;
        padding-bottom: 2%;
    }
    .item-widht2 {
        width: 31.5%;
        padding-bottom: 2%;
    }
    .item-widht3 {
        width: 33%;
        padding-bottom: 2%;
    }
    .item-widht4 {
        width: 33%;
        text-align: center;
        padding-bottom: 2%;
    }
    .item-widht5 {
        width: 64%;
        padding-bottom: 2%;
    }
    .item-widht6 {
        width: 63%;
        text-align: right;
    }
    .item-widht7 {
        width: 31.5%;
        text-align: right;
    }
    .item-widht__img1 {  
        width: 90%;
    }
    .item-widht__img2 {
        width: 94.2%;
    }
    .item-widht__img3 {
        width: 90%;
    }
    .item-widht__img4 {
        width: 90%;
    }
    .item-widht__img5 {
        width: 96%;
    }
    .item-widht__img6 {
        width: 97.5%;
    }
    .item-widht__img7 {
        width: 95%;
    }
    .item-title__text1 {  
       left: 12.5%;
       width: 21%;
       top: 92em;
       font-size: 135%;
    }
    .item-title__text2 {  
        left: 37.5%;
        top: 92em;
        width: 22%;
        font-size: 135%;
    }
    .item-title__text3 {
        width: 16%;
        left: 66%;
        top: 95em;
        font-size: 130%;
    }
    .item-title__text4 { 
        left: 11.5%;
        top: 105em;
        width: 21%;
        font-size: 135%;
    }
    .item-title__text5 {
        left: 53%;
        top: 105em;
        width: 25%;
        font-size: 135%;
    }
    .item-title__text6 {
        left: 21%;
        top: 119em;
        width: 21%;
        font-size: 135%;
    }
    .item-title__text7 {
        left: 58%;
        top: 119em;
        width: 21%;
        font-size: 135%;
    }
 /*-------------------------------*/
    form {
        width: 36%;
    }
    #submit {
       width: 43%;
    }
/*----------------------------------*/
    .footer-logo_text {
        width: 23.5%;
    }
    .footer-logo_text__title {
       justify-content: center;
    }
    .footer-logo {
        width: 18%;
    }
    .logo_text {
        width: 46%;
    }
    .footer-company {
        
    width: 20.6%;
    }
    .footer-partners {  
       width: 26.5%;
    }
}
@media all and (max-width: 980px) {
    .wrapper { 
       width: 97%;
       margin: 0 auto;
    }
    .header-logo {
       width: 100%;
    }
    .wrapper-section_text {
       width: 83%;
    }
    .section_title {
    /*! width: 100%; */
    }
/*-----------------SLIDER------------------------*/
    .wrapper-section_slider__text {
        
    width: 37%;
    }
    .wrapper-section_slider {  
       width: 100%;
    }
    .section_slider1__img {
        left: 4.5%;
        width: 92%;
    }
    .section_slider2__img {
        left: 6%;
        width: 92%;
    }
    .section_slider3__img {
        left: 5.5%;
        width: 92%;
    }
    .slider-container__navigation--right {
    /*! padding-left: 72%; */
    }
/*-------------   INFO   -------------------*/
    .section-info {
    width: 98%;
    }
    .section-info__lucas2 {
        display: none;
    }
    .section-info__img1 {  
       left: 61%;
    }
    .section-info__img2 {  
       left: 65%;
    }
    .section-info__img3 {  
       left: 61%;
       top: 81px;
    }
    .section-info__img4 {  
       left: 64%;
    } 
    .section-info_button {
       width: 20%;
    }
/*---------------BOX----------------------*/
    #grid {   
       width: 100%;
    }
    .item {  
       padding-bottom: 2%;
    }
    .item-title__text1 {
        left: 5%; 
        width: 25%;
    }
    .item-title__text2 {
        left: 35%;
        width: 27%;
    }
    .item-title__text3 {
        left: 67%;
        width: 22%;
    }
    .item-title__text4 {
        left: 5%;
    }
    .item-title__text5 {
        width: 31%;
        left: 50%;
        top: 105em;
    }
    .item-title__text6 {
        left: 20%;
        top: 118em;
    }
    .item-title__text7 {
        left: 63%;
        top: 118em;
    }
/*--------------FOOTER-----------------*/
    .logo_text {
        width: 75%;  
        text-align: right;
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        width: 95%;
    }
    .header-logo {
        width: 88%;
    }
    .authorization_log {
        width: 16%;
    }
    .wrapper-section {  
       width: 100%;
    }
    .wrapper-section_text {
        width: 82%;
        height: 154px;
    }
    .section_title {
    }
    .button {
        width: 48%;
    }
    .authorization_sign {
        width: 22%;
    }
/*----------------SLIDER-----------------*/
    .wrapper-section_slider__text {
        width: 50%;
    }
    .wrapper-section_slider {
        width: 99%;
    }
    #slider1 {
        background-position: center;
    }
    .section_slider1__img {
        width: 95%;
        top: 10%;
        left: 2%;
    }
    #section_slider1__img__right, #section_slider3__img__right {  
       padding-left: 63%;
    }
    .slider-container__navigation--right {
        /*! padding-left: 55%; */
    }
    .section_slider_text {
        height: 323px;
        width: 98%;
    }
    .slider_button {
        width: 37%;
    }
    #slider2 {
        height: 400px;
    }
    .section_slider2__img {
        top: 40px;
        width: 100%;
        left: 6%;
    }
    .section_slider2_text {
        width: 94%;
        height: 342px;
    }
    #slider3 {
        background-position: center;
    }
    .section_slider3__img {
        top: 10%;
        left: 3%;
        width: 95%;
    }
/*-------------------------INFO----------------------*/
    .section-info {
        width: 73%;
        height: 530px;
    }
    .section-info__bradley {
       width: 53%;
       height: 259px;
    }
    .section-info__img1 {
       top: 33%;
       left: 58%;
    }
    .section-info__bradley__text {
       width: 73%;
       margin: 0 auto;
       height: 166px;
    }
/*-------------heather----------*/
    .section-info__heather {
       width: 43%;
    }
    .section-info__img2 {
       left: 60%;
    }
    .section-info__heather__text { 
       height: 166px;
    }
/*-------------lucas-------------*/
    .section-info__lucas2 {
        display: none;
    }
    .section-info__lucas {
       width: 52%;
    }
    .section-info__img3 { 
       left: 59%;
       top: 84px;
    }
    .section-info__lucas__text {
       height: 190px;
       width: 84%;
       margin: 0 auto;
    }
    #section-info_text__lucas {
       height: 15%;
    }
/*---------bradley2---------------*/
    .section-info__bradley2 { 
       width: 44%;
    }
    .section-info__img4 {
       left: 60%;
    }
    .section-info_text {
        height: 18%;
    }
    .section-info__bradley2__text {
       height: 177px;
    }
/*_____________________*/
    .section-info_button {
       width: 25%;
    }
/*----------------BOX------------------*/
    .item-widht__img1, .item-widht__img2, .item-widht__img3,
    .item-widht__img4, .item-widht__img5, .item-widht__img6,
    .item-widht__img7 {
        display: none;
    }
    .item-widht__img1__tablet, .item-widht__img2__tablet,
    .item-widht__img3__tablet, .item-widht__img4__tablet,
    .item-widht__img5__tablet, .item-widht__img6__tablet,
    .item-widht__img7__tablet {
       display: block;
       width: 95%;
    }
    .item-widht__img5__tablet { 
        width: 98%;
    }
    .item-widht2 {
       width: 33%;
       line-height: 25px;
       padding: 0;
    }
    .item-widht4 {
        width: 32.5%;
    }
    .item-widht5 {
       width: 66%;
    }
    .item-widht6 {   
       width: 67%;
    }
    .item-title__text1 { 
       top: 105.5em;
       left: 3%;
       width: 29%;
    }
    .item-title__text2 {
        top: 105em;
        width: 25%;
        text-align: center;
        left: 36.5%;
    }
    .item-title__text3 { 
       left: 67%;
       top: 109em;
       line-height: 24px;
       width: 26%;
    }
    .item-title__text4 { 
       top: 116.8em;
       left: 7.5%;
    }
    .item-title__text5 {
       top: 116.9em;
       left: 46.5%;
       width: 40%;
    }
    .item-title__text6 {
       top: 130.2em;
    }
    .item-title__text7 { 
       top: 131em;
       left: 67%;
    }
 /*---------------------*/
    .section_text {  
        height: 123px;
    }
    form {  
        margin-top: 2px;
        height: 40px;
        width: 54%;
    }
/*--------------FOOTER-----------------*/
    .footer-logo_text {   
        width: 25%;
    }
    .footer-company {
        width: 28%;
    }
    .footer-partners {
        width: 15%;
        justify-content: center;
    }
    .footer-logo { 
        width: 25%;
    }
    .logo_text { 
        width: 57%;
    }
}
@media screen and (max-width: 620px) {
    .header {
        background-image: url(../images/header-img-media.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 540px;
    }
    .header-logo {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        height: 214px;
    }
    .header-logo_text {
        width: 100%;
        padding: 0;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .authorization {
        width: 84%;
        align-items: flex-start;
        height: 121px;
    }
    .authorization_log {
        width: 42%;
        padding: 0;
        margin-top: 13px;
    }
    .authorization_sign {  
        width: 55%;
    }
/*----------------------*/
    .wrapper-section {
        width: 100%;
        margin: 0 auto;
        max-height: 202px;
    }
    .wrapper-section_text {
        width: 95%;
        text-align: center;
        height: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wrapper-section_header__text {
        height: 67px;
        display: flex;
        width: 99%;
        flex-direction: column;
    }
    .section_title {
        font-size: 30px;
        line-height: 34px;
        width: 100%;
    }
    .section_subtitle {
        font-size: 18px;
        width: 81%;
        margin: 0 auto;
        padding-top: 0;
        line-height: 19px;
    }
    .button {
        width: 96%;
        height: 25px;
        margin: 0;
    }
    
/*--------------------SLIDER--------------------*/
    .wrapper-section_slider {   
        flex-direction: column;
        justify-content: flex-start;
        height: 745px;
    }
    .wrapper-section_slider__text { 
        width: 95%;
        height: 75px;
    }
    .wrapper-section_text__title { 
        height: 59px;
        width: 100%;
    }
    #slider1 {
        background-image: url(../images/img_tablet/slid1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        background-position: top;
    }
    #slider2 {
        background-image: url(../images/img_tablet/slid2.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        margin: 0;
    }
    #slider3 {
        background-image: url(../images/img_tablet/slid3.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        float: none;
        height: 250px;
        margin: 0;
    }
    .section_slider_text {
        height: 240px;
        width: 87%;
    }
    .slider_button {
        width: 28%;
    }
    .section_slider1__img, .section_slider2__img, 
    .section_slider3__img {
        display: none;
    }
/*-------------INFO--------------------------*/
    .section-info {
        width: 70%;
        height: 949px;
    }
    .section-info__bradley {
        width: 100%;
        height: 229px;
    }
    .section-info__img1 {
        top: 37%;
        left: 61%;
    }
    .section-info__bradley__text {
        width: 94%;
        height: 160px;
    }
    .section-info_text__title {
        padding: 0;
    }
    .section-info__lucas2 {
        background-image: url(../images/Partner2.png);
        background-repeat: no-repeat;
        background-position: top;
        display: block;
        width: 100%;
        height: 262px;
        float: left;
    }
    .section-info__img3 {
        left: 60%;
    }
    .section-info__lucas__text {
        width: 100%;
        margin: 0 auto;
    }
    .section-info__heather {
        width: 100%;
        height: 229px;
    }
    .section-info__heather__text {
        height: 160px;
        width: 220px;
        margin: 0 auto;
    }
    .section-info__lucas {
        display: none;
    }
    .section-info__bradley2 {
        width: 100%;
    }
    .section-info__bradley2__text {
        height: 160px;
        width: 220px;
        margin: 0 auto;
    }
    .section-info_button {
        width: 90%;
    }
/*--------------------------------------*/
    .form-submit {
        height: 129px;
    }
    form { 
        width: 100%;
        flex-direction: column;
        height: auto;
        margin: 0 auto;
        align-items: center;
    }
    .text {
        width: 80%;
        height: 38px;
    }
    #submit {
        margin: 0;
        width: 90%;
        height: 42px;
        margin-top: 12px;
    }
/*--------------BOX-----------------------*/
    .item-widht__img1__tablet, .item-widht__img2__tablet,
    .item-widht__img3__tablet, .item-widht__img4__tablet,
    .item-widht__img5__tablet, .item-widht__img6__tablet,
    .item-widht__img7__tablet {
       display: none;
    }
    .item-widht__img1__mobile, .item-widht__img2__mobile,
    .item-widht__img3__mobile, .item-widht__img4__mobile,
    .item-widht__img5__mobile, .item-widht__img6__mobile,
    .item-widht__img7__mobile {
        display: block;
    }
    #grid {
        margin: 0 auto;
        width: 300px;
    }
    .item {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 3%;
    }
    .item-title__text1 {
        top: 120em;
        width: 65%;
        letter-spacing: 1px;
        word-spacing: -4px;
        left: 17%;
        margin: 0 auto;
    }
    .item-title__text2 {
        top: 126em;
        width: 68%;
        left: 16%;
    }
    .item-title__text3 {
        left: 21%;
        top: 136.5em;
        width: 60%;
        text-align: center;
        letter-spacing: 1px;
        margin: 0 auto;
    }
    .item-title__text4 {
        top: 138.2em;
        left: 38%;
    }
    .item-title__text5 {
        top: 144.2em;
        left: 12%;
        width: 85%;
        margin: 0 auto;
    }
    .item-title__text6 {
        top: 150.3em;
        left: 31%;
    }
    .item-title__text7 {  
        top: 156.2em;
        left: 33%;
    }
    .section_text { 
        height: 74px;
        width: 91%;
        text-align: center;
    }
    .wrapper-section_text__title___title {
        height: 53px;
    }
/*--------------------FOOTER---------------*/
    footer { 
        width: 100%;
        margin: 0 auto;
    }
    .footer-logo_text {
        width: 90%;
        margin: 0 auto;
        float: none;
        height: 50px;
    }
    .footer-logo_text__title {
        align-items: flex-end;
        height: 38px;
    }
    .footer-company {    
        width: 67%;
        float: none;
        margin: 0 auto;
        height: 45px;
    }
    .company_info {
        display: flex;
        width: 100%;
    }
    .company {  
        width: 36%;
    }
    .company_text {
        margin-left: 10px;
    }
    .footer-partners {
        width: 100%;
        align-items: flex-start;
        height: auto;
        padding-top: 9px;
    }
    .footer-logo {
        width: 40%;
        height: 60px;
        margin: 0 auto;
        background-position: center bottom;
    }
    .logo_text {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}